{% extends 'base.html.twig' %}

{% block title '&Agrave; propos - ClickNToulon' %}

{% block body %}
    {% include 'about/_header.html.twig' %}
    <div class="relative mx-auto flex justify-center sm:px-2 lg:px-8 xl:px-12 pt-12">
        <div class="hidden lg:relative lg:block lg:flex-none">
            <div class="sticky -ml-0.5 pl-0.5">
                <nav class="w-64 pr-8 xl:w-72 xl:pr-16">
                    <ul>
                        <li>
                            {% include 'about/_tabs.html.twig' with {active: 'about'} %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="min-w-0 max-w-2xl flex-auto px-4 lg:max-w-5xl lg:px-0">
            <article>
                <header class="mb-9">
                    <h1 class="text-3xl tracking-tight text-slate-900 dark:text-white">&Agrave; propos</h1>
                </header>
                <div
                    class="prose prose-slate max-w-none dark:prose-invert dark:text-slate-200 prose-headings:scroll-mt-28
                    lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 prose-a:decoration-sky-600
                    dark:prose-lead:text-slate-400 prose-a:font-semibold prose-a:underline hover:prose-a:text-sky-500
                    prose-a:underline-offset-4 prose-a:decoration-[2px] dark:prose-hr:border-slate-800"
                >
                    <p>
                        ClickNToulon est une plateforme créée par <a href="">Corentin THIBAUD</a> et <a href="">Quentin BOITEL</a>,
                        tous deux étudiants à l'ISEN Yncréa Méditerranée, ayant pour but de mettre en relation des clients
                        et les commerçants toulonnais.
                    </p>

                    <hr>

                    <h2 id="1">1. Pourquoi cette plateforme ?</h2>
                    <p>
                        <a href="{{ path('home') }}">ClickNToulon</a> est une plateforme associative qui fonctionne 24h/24 7j/7,
                        réalisé par des étudiants de l’ISEN de Toulon.
                    </p>
                    <p>
                        Notre force principale est le local. Nous connaissons très bien le marché de Toulon et ses avantages.
                        Pour cette raison, un commerçant membre de la plateforme <b class="text-sky-500">peut proposer des évolutions à la plateforme</b>.
                        De plus, l’argent généré par la plateforme restera dans un circuit court le plus longtemps possible,
                        profitant aux clients et aux commerçants.
                    </p>
                    <p>
                        Conformément aux plateformes traditionnelles, l’inscription est <b class="text-sky-500">gratuite</b> pour l'Utilisateur.
                    </p>
                    <p>
                        Un commerçant pourra s’inscrire sur la plateforme gratuitement mais devra s'acquitter d'une somme de 5&euro; HT par an pour effectuer des ventes.
                    </p>
                    <p>
                        <a href="{{ path('home') }}">ClickNToulon</a> propose un contrôle total
                        pour les commerçants sur leurs boutiques en ligne : vous choisissez vos produits, votre prix pratiqué
                        et vous la personnalisez comme vous le souhaitez.
                        Vous ne savez pas comment faire ? Notre équipe pourra venir vous aider à configurer vos produits
                        et à attirer les clients qui feront la différence à la fin du mois.
                    </p>

                    <hr>

                    <h2 id="2">2. Qui peut rejoindre ClickNToulon ?</h2>
                    <p>
                        Tous les commerces de la ville de Toulon de petite taille (Entreprise unipersonnelle, TPE, PME, SARL)
                        et n’étant affilié à aucune marque de distribution peuvent rejoindre <a href="{{ path('home') }}">ClickNToulon</a>.
                        Dans un futur proche, la plateforme sera ouverte à tous les commerces de l’agglomération toulonnaise.
                    </p>

                    <hr>

                    <h2 id="3">3. Comment rejoindre ClickNToulon ?</h2>
                    <p>
                        Vous pouvez rejoindre <a href="{{ path('home') }}">ClickNToulon</a> en contactant un membre de l’équipe à l’adresse mail suivante :
                        <a href="mailto:contact@clickntoulon.fr">contact@clickntoulon.fr</a> et notre équipe vous répondra
                        dans les plus brefs délais<sup>*</sup>.
                    </p>
                    <p>
                        Afin de gagner un maximum de temps, merci de nous envoyer :
                    </p>
                    <ul class="mt-2 space-y-3 text-slate-500 dark:text-slate-400">
                        <li>Nom de votre boutique</li>
                        <li>Adresse de votre boutique</li>
                        <li>Adresse mail du magasin (si différente de l'adresse mail utilisée pour nous contacter)</li>
                        <li>Horaires du magasin</li>
                        <li>Téléphone du magasin</li>
                    </ul>
                    <p>
                        Vous pouvez remplir le formulaire disponible sur notre site pour vous inscrire.
                        Notre équipe vous recontactera dès réception de votre demande<sup>*</sup>.
                    </p>
                    <p class="text-sm">
                        * Nous faisons notre maximum, nous vous répondrons dans les 24 heures à la suite de votre demande au maximum.
                    </p>
                    <p>
                        &Agrave; ce moment-là, nous échangerons sur les besoins de votre boutique pour sa disponibilité en ligne.
                    </p>

                    <hr>

                    <h2 id="4">4. Quels sont les produits que je peux mettre en ligne ?</h2>
                    <p>
                        Vous pouvez mettre en ligne tous les produits que possède votre boutique et du moment que ce produit est autorisé à être vendu en ligne,
                        c'est-à-dire tous les produits que vous souhaitez et qui sont autorisés à la vente dans votre boutique sauf ceux contenant du tabac.
                    </p>

                    <hr>

                    <h2 id="5">5. Puis-je mettre en ligne des produits ayant des restrictions de vente ?</h2>
                    <p>
                        Si ce produit est autorisé par la loi à être vendu en ligne oui.
                        En revanche, il sera demandé au commerçant de procéder à toutes les vérifications nécessaires
                        avant de remettre le produit au client.
                        <a href="{{ path('home') }}">ClickNToulon</a> ne pourra être tenu responsable
                        en cas de vente illégale d’un certain produit.
                    </p>

                    <hr>

                    <h2 id="6">6. Quelles sont les conditions appliquées sur la plateforme ?</h2>
                    <p>
                        Vous retrouverez toutes nos conditions de ventes et d’utilisation sur notre site Internet.
                        Si, une des conditions de vente de votre boutique rentre en collision avec une des nôtres
                        (hormis pour la liste de produits vendus, sur les restrictions de ventes et la présentation de votre boutique en ligne),
                        les conditions de votre boutique s’appliquent.
                    </p>

                    <hr>

                    <h2 id="7">7. Quelles sont les images que je peux mettre en ligne ?</h2>
                    <p>
                        Vous pouvez mettre en ligne des images de vos produits et de votre boutique uniquement.
                        Toutes les images doivent être visibles par tout le monde et n’incitant à aucune consommation dangereuse ou excessive d’un produit, et ceux avec des licences commerciales.
                        Toute image contraire à cette règle se verra retirée par notre équipe.
                    </p>
                </div>
            </article>
        </div>
        <div class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:flex-none xl:overflow-y-auto xl:pr-6 xl:pl-6">
            <nav aria-labelledby="on-this-page-title" class="w-64">
                <h2 id="on-this-page-title" class="text-lg font-medium text-slate-900 dark:text-white">Sur cette page</h2>
                <ul class="mt-4 space-y-3 text-sm">
                    <li>
                        <ul class="mt-2 space-y-3 text-slate-500 dark:text-slate-400">
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#1">
                                    1. Pourquoi cette plateforme ?
                                </a>
                            </li>
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#2">
                                    2. Qui peut rejoindre ClickNToulon ?
                                </a>
                            </li>
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#3">
                                    3. Comment rejoindre ClickNToulon ?
                                </a>
                            </li>
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#4">
                                    4. Quels sont les produits que je peux mettre en ligne ?
                                </a>
                            </li>
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#5">
                                    5. Puis-je mettre en ligne des produits ayant des restrictions de vente ?
                                </a>
                            </li>
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#6">
                                    6. Quelles sont les conditions appliquées sur la plateforme ?
                                </a>
                            </li>
                            <li>
                                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#7">
                                    7. Quelles sont les images que je peux mettre en ligne ?
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}