{% extends 'base.html.twig' %}

{% block title 'Signaler un produit et/ou une boutique - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {active: 'report'} %}
    <section class="container mx-auto px-5 pt-12">
        <div class="flex items-center justify-center">
            <h1 class="sm:text-5xl text-3xl font-extrabold title-font text-black dark:text-white mb-4 uppercase tracking-wider title-underline">Signaler un contenu</h1>
        </div>
        <div class="pt-12 max-w-3xl mx-auto">
            {% for message in app.flashes('success') %}
                <div class="bg-green-600 rounded-xl mb-2 lg:mb-4 -mt-2 lg:-mt-6" id="successAlert">
                    <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                        <div class="flex items-center justify-between flex-wrap">
                            <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-xl bg-green-700">
                                    <!-- Heroicon name: outline/exclamation -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                </span>
                                <p class="ml-3 font-semibold text-white">
                                    <span class="inline">
                                        {{ message }}
                                    </span>
                                </p>
                            </div>
                            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                <button type="button" class="flex p-2 rounded-xl hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1" onclick="closeAlert('successAlert')">
                                    <span class="sr-only">Fermer</span>
                                    <!-- Heroicon name: outline/x -->
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function closeAlert(alertID) {
                        document.getElementById(alertID).classList.toggle('hidden');
                        document.getElementById(alertID).classList.toggle('block');
                    }
                </script>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="bg-red-600 rounded-xl mb-2 lg:mb-4 -mt-2 lg:-mt-6" id="warningAlert">
                    <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                        <div class="flex items-center justify-between flex-wrap">
                            <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-xl bg-red-700">
                                    <!-- Heroicon name: outline/exclamation -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                </span>
                                <p class="ml-3 font-semibold text-white">
                                    <span class="inline">
                                        {{ message }}
                                    </span>
                                </p>
                            </div>
                            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                <button type="button" class="flex p-2 rounded-xl hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1" onclick="closeAlert('warningAlert')">
                                    <span class="sr-only">Fermer</span>
                                    <!-- Heroicon name: outline/x -->
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function closeAlert(alertID) {
                        document.getElementById(alertID).classList.toggle('hidden');
                        document.getElementById(alertID).classList.toggle('block');
                    }
                </script>
            {% endfor %}
            {{ form_start(form, {attr: {class: 'w-full flex items-center justify-center flex-col mx-auto'}}) }}
                <div class="w-full">
                    {{ form_row(form.url) }}
                </div>
                <div class="w-full">
                    {{ form_row(form.content) }}
                </div>
                <button type="submit" class="inline-flex justify-center py-1 px-3 border border-transparent font-bold rounded-full text-white bg-blue-700 hover:bg-blue-600">
                    Signaler
                </button>
            {{ form_end(form) }}
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}