{% extends 'base.html.twig' %}

{% block title 'Inscription - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'signup'} %}
    <div class="container mx-auto flex items-center justify-center h-test">
        <div class="grid grid-cols-3 gap-x-6 w-full h-auto">
            <div class="bg-darkblue-150 dark:bg-darkblue-800 col-span-1 h-full w-full max-h-max rounded-xl p-10">
                {% for message in app.flashes('warning') %}
                    <div class="bg-yellow-600 rounded-xl mb-2">
                        <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                            <div class="flex items-center justify-between flex-wrap">
                                <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-lg bg-yellow-700">
                                  <!-- Heroicon name: outline/exclamation -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                  </svg>
                                </span>
                                    <p class="ml-3 font-medium text-white">
                                    <span class="inline">
                                        {{ message }}
                                    </span>
                                    </p>
                                </div>
                                <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                    <button type="button" class="flex p-2 rounded-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1">
                                        <span class="sr-only">Fermer</span>
                                        <!-- Heroicon name: outline/x -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                <h1 class="text-4xl font-bold text-center mb-4 cursor-pointer text-black dark:text-white capitalize">Inscrivez-vous</h1>
                <div class="space-y-1">
                    {{ form_row(form.name) }}
                    {{ form_row(form.surname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="inline-flex items-start mt-2 px-3">
                        <div>
                            <div>
                                <label class="inline-flex items-center align-middle">
                                    <input type="checkbox" class="rounded border-2 border-blue-600 text-blue-500 shadow-sm focus:border-blue-500" id="checkbox" name="cgu" required>
                                    <span class="text-black dark:text-gray-300 font-semibold">J'accepte les <a href="{{ path('about_cgu') }}" class="font-bold underline underline-offset-2 text-blue-700 dark:text-blue-400">Conditions Générales d'Utilisation</a></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-2">
                    <button class="py-2 px-3 w-full text-xl font-semibold text-white bg-blue-700 hover:bg-blue-600 rounded-full" type="submit">S'inscrire</button>
                    <a href="{{ path('google_connect') }}" class="flex flex-row items-center justify-center px-3 py-2 rounded-full bg-[#dd4b39] hover:bg-[#C64333] text-white font-bold mt-2 text-xl">
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                            <path fill="currentColor" d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"/>
                        </svg>
                        <span>S'inscrire avec Google</span>
                    </a>
                </div>
                <div class="w-full">
                </div>
                {{ form_end(form) }}
            </div>
            <div class="w-full col-span-2 flex items-center justify-center">
                <img class="h-96 object-cover" src="{{ asset('images/security.svg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}