{% extends 'base.html.twig' %}

{% block title 'Inscription - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'signup'} %}
    <div class="toast-container position-absolute p-3">
        {% for message in app.flashes('warning') %}
            <div role="alert" class="fr-alert fr-alert--error show" id="alert">
                <p>{{ message }}</p>
            </div>
            <script>
                const alert = document.querySelector("#alert")
                console.log(alert)
                setTimeout(() => {
                    alert.classList.remove('show')
                }, 10000);
            </script>
        {% endfor %}
    </div>
    <div class="main-container form">
        <h2>S'inscrire à la plateforme</h2>
        {{ form_start(form, {attr: {class: 'forms'}}) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password.first, {attr: {class: 'fr-input'}}) }}
            {{ form_row(form.password.second, {attr: {class: 'fr-input last-input'}}) }}
            <div class="form-actions">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox" name="cgu" required="">
                    <label class="form-check-label label-inscription" for="checkbox">
                        J'accepte les <a href="{{ path('about_cgu') }}" class="link-underline white">Conditions Générales d'Utilisation</a> de la plateforme
                    </label>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-form" type="submit">S'inscrire</button>
            </div>
            <div class="info-usage">
                Vos données personnelles (email, nom et prénom) ne sont utilisées qu'à des fins d'authentification et sont partagées uniquement avec les commerçants lorsque vous effectuez une commande chez eux.
                (<a href="{{ path('about_confidentialite') }}" class="link-underline info-usage-link">En savoir plus</a>)
            </div>
        {{ form_end(form) }}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}