{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
    <div class="main-container form">
        <h1>S'inscrire</h1>
        {{ form_start(form, {attr: {class: 'forms'}}) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.address, {'attr': {'type': 'textarea'}}) }}
            {{ form_row(form.postal_code) }}
            {{ form_row(form.city) }}
            <button class="btn btn-form btn-no-mt">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}