<nav class="navbar navbar-expand-lg navbar-dark admin-navbar">
    <div class="container-fluid">
        <a class="navbar-brand {% if active == 'home' %}active{% endif %}" href="{{ path('admin_index') }}">{% if active == 'home' %}<i class="bi-house-fill"></i> Accueil{% else %}<i class="bi-house"></i> Accueil{% endif %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse .show" id="navbar-nav">
            <ul class="navbar-nav">
                <li class="nav-item link-home">
                    <a class="nav-link {% if active == 'home' %}active{% endif %}" href="{{ path('admin_index') }}">{% if active == 'home' %}<i class="bi-house-fill"></i>{% else %}<i class="bi-house"></i>{% endif %}</a>
                </li>
                <li class="nav-item link-shop">
                    <a class="nav-link {% if active == 'users' %}active{% endif %}" href="{{ path('admin_users') }}"><i class="bi-people"></i> Utilisateurs</a>
                </li>
                <li class="nav-item link-products">
                    <a class="nav-link {% if active == 'shops' %}active{% endif %}" href="{{ path('admin_shops') }}"><i class="bi-shop-window"></i> Boutiques</a>
                </li>
                <li class="nav-item link-products">
                    <a class="nav-link {% if active == 'products' %}active{% endif %}" href="{{ path('admin_products') }}"><i class="bi-box-seam"></i> Produits</a>
                </li>
            </ul>
            <ul class="navbar-nav me-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if active == 'search' %}active{% endif %}" href="{{ path('admin_search')}}"><i class="bi-search"></i> Recherche</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" id="dropdown-user" href="{{ path('admin_index') }}" data-bs-toggle="dropdown" aria-expanded="true"><i class="bi-person"></i>
                            {{ user.username }} <span class="admin-badge badge-header"><i class="fad fa-badge-check"></i></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-center show dropdown-menu-end dropdown-menu-start dropdown-user admin-dropdown" aria-labelledby="dropdown-user">
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}"><button class="btn btn-danger btn-no-mt admin-button"><i class="bi-box-arrow-right"></i> Déconnexion</button></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>