{% extends 'base.html.twig' %}

{% block title 'Produits - Administration - TouSolidaires' %}

{% block body %}
    <div class="d-flex flex-row">
        {% include 'admin/sidebar.html.twig' with {'active': 'products'} %}
        <div class="fr-container fr-container--fluid py-5">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1>Produits</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a href="{{ path('admin_create_product') }}"><button type="button" class="fr-btn fr-btn--secondary btn-home-outline"><i class="bi-plus-circle"></i> Ajouter une boutique</button></a>
                    </div>
                </div>
            </div>
            <div class="fr-table fr-table--bordered admin-table">
                <table class="table table-light table-stripped">
                    <thead class="thead-light">
                    <tr>
                        <th>N°</th>
                        <th>ID Boutique</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Prix Promo</th>
                        <th>Début Promo</th>
                        <th>Fin Promo</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.shopId }}</td>
                            <td>{{ product.name | u.truncate(30, '...', false) }}</td>
                            <td>{{ product.description | u.truncate(30, '...', false) }}</td>
                            <td>{{ product.price | format_currency('EUR') }}</td>
                            <td>{% if product.dealprice == null %}Pas de promo{% else %}{{ product.dealprice | format_currency('EUR') }}{% endif %}</td>
                            <td>{% if product.dealStart != null %}{{ product.dealStart | format_datetime('short', 'none', locale='fr') }}{% else %}Pas de promo{% endif %}</td>
                            <td>{% if product.dealEnd != null %}{{ product.dealEnd | format_datetime('short', 'none', locale='fr') }}{% else %}Pas de promo{% endif %}</td>
                            <td><a href="{{ path('admin_products_delete', {id: product.id}) }}"><button class="btn btn-danger btn-no-mt">Supprimer</button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total : {{ total }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}
