{% extends 'base.html.twig' %}

{% block title 'Produits - Administration - TouSolidaires' %}

{% block body %}
    {% include 'admin/navbar.html.twig' with {'active': 'products'} %}
    <div class="fr-container fr-container--fluid py-5">
        <h3 class="mb-2">Produits</h3>
        <div class="fr-table fr-table--bordered">
            <table class="table table-light table-stripped">
                <thead class="thead-light">
                <tr>
                    <th>N°</th>
                    <th>ID Boutique</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Prix Promo</th>
                    <th>Début Promo</th>
                    <th>Fin Promo</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.shopId }}</td>
                        <td>{{ product.name | u.truncate(30, '...', false) }}</td>
                        <td>{{ product.description | u.truncate(30, '...', false) }}</td>
                        <td>{{ product.price | format_currency('EUR') }}</td>
                        <td>{% if product.dealprice == null %}Pas de promo{% else %}{{ product.dealprice | format_currency('EUR') }}{% endif %}</td>
                        <td>{% if product.dealStart != null %}{{ product.dealStart | format_datetime('short', 'none', locale='fr') }}{% else %}Pas de promo{% endif %}</td>
                        <td>{% if product.dealEnd != null %}{{ product.dealEnd | format_datetime('short', 'none', locale='fr') }}{% else %}Pas de promo{% endif %}</td>
                        <td><a href="{{ path('admin_products_delete', {id: product.id}) }}"><button class="btn btn-danger btn-no-mt">Supprimer</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total : {{ total }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
