{% extends 'base.html.twig' %}

{% block title 'Utilisateurs - Administration - TouSolidaires' %}

{% block body %}
    {% include 'admin/navbar.html.twig' with {'active': 'users'} %}
    <div class="fr-container fr-container--fluid py-5">
        <h3 class="mb-2">Utilisateurs</h3>
        <div class="fr-table fr-table--bordered">
            <table class="table table-light table-stripped">
                <thead class="thead-light">
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Addresse</th>
                        <th>Banni</th>
                        <th>Vérifié</th>
                        <th>Créé le</th>
                        <th>Mis à jour le</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.address }} {{ user.postalCode }} {{ user.city }}</td>
                            <td>{% if user.banned == 0 %}Non banni{% else %}Banni{% endif %}</td>
                            <td>{% if user.isVerified == 1 %}Vérifié{% else %}Non vérifié{% endif %}</td>
                            <td>{{ user.createdAt | format_datetime('short', 'short', locale='fr') }}</td>
                            <td>{{ user.updatedAt | format_datetime('short', 'short', locale='fr') }}</td>
                            <td><a href="{{ path('admin_users_ban', {id: user.id}) }}"><button class="btn btn-danger btn-no-mt">Bannir</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total : {{ total }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
