{% extends 'base.html.twig' %}

{% block title 'Les produits - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'product'} %}
    <main class="main-container py-10">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for product in products %}
                <div class="fr-col-12 fr-col-md-3">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            {% if product.dealprice != null %}
                                <ul class="fr-tags-group fr-card__detail">
                                    <li>
                                        <span class="fr-tag deal_price product-price">{{ product.price | format_currency('EUR') }}</span>
                                    </li>
                                    <li>
                                        <span class="fr-tag product-price tag-danger">{{ product.dealprice | format_currency('EUR') }}</span>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="fr-tags-group fr-card__detail">
                                    <li>
                                    <span class="fr-tag product-price">
                                        {{ product.price | format_currency('EUR') }}
                                    </span>
                                    </li>
                                </ul>
                            {% endif %}
                            <h4 class="fr-card__title">
                                <a href="{{ path('product_show', {id: product.id}) }}" class="fr-card__link">{{ product.name }}</a>
                            </h4>
                            <p class="fr-card__desc">{{ product.description }}</p>
                        </div>
                        <div class="fr-card__img">
                            <img src="{% if product.image != null %}{{ asset('uploads/products/' ~ product.image) }}{% else %}{{ asset('images/1.jpg') }}{% endif %}" class="fr-responsive-img" alt="Image produit n°{{ product.id }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(products) }}
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}