{% for product in products %}
    <div class="shrink-0 p-2 group relative before:absolute before:-inset-0 before:rounded-lg before:bg-gray-50 dark:before:bg-slate-700 before:opacity-0 hover:before:opacity-100">
        {% if product.unitPriceDiscount != null and product.unitPriceDiscount != 0 %}
            <span class="bg-accent-red rounded-lg text-red-700 font-extrabold px-2 py-1 absolute right-4 z-10 top-4 flex items-center justify-center uppercase">
                Promo
            </span>
        {% endif %}
        <div class="w-full max-h-96 max-w-full rounded-lg overflow-hidden relative">
            <img src="{{ asset('uploads/products/' ~ product.images[0]) }}" alt="Product Image" class="w-full h-full aspect-square">
        </div>
        <div class="p-2 flex flex-col relative">
            <div class="flex justify-between items-baseline flex-wrap space-y-1">
                <h3 class="text-2xl text-black dark:text-white font-semibold tracking-wide group-hover:underline underline-offset-4 decoration-[3px] decoration-sky-600">
                    <a href="{{ path('product_show', {id: product.id}) }}">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        {{ product.name }}
                    </a>
                </h3>
                <div>
                    {% if product.unitPriceDiscount is not null %}
                        <div class="inline-flex items-baseline justify-between space-x-2">
                            {% set dealPrice = product.unitPrice * (1 - (product.unitPriceDiscount/100)) | round(2) %}
                            <p class="text-lg font-medium text-gray-900 dark:text-red-500">{{ dealPrice | format_currency('EUR') }}</p>
                            <p class="text-lg font-extrabold bg-accent-red text-red-700 rounded-full px-2.5 py-0.25">-{{ product.unitPriceDiscount }}%</p>
                        </div>
                    {% else %}
                        <p class="text-lg font-medium text-gray-900 dark:text-gray-200">{{ product.unitPrice | format_currency('EUR') }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="mt-2">
                <p class="text-lg text-justify text-gray-900 dark:text-gray-200 font-medium">{{ product.description | u.truncate(90, '...', false) }}</p>
            </div>
        </div>
    </div>
{% endfor %}