{% extends 'base.html.twig' %}

{% block title %}
{{ product.name }} - TouSolidaires
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'product'} %}
    <main class="main-container py-10">
        <div class="product-container-2">
            <div class="card card-product">
                <div class="card-body-shop card-body-product">
                    <div class="card-column">
                        <div class="timetable-day timetable-day-product">
                            <h4>{{ shop.name }}</h4>
                            <i><a href="{{ path('shop_show', {slug: shop.slug}) }}">Voir la boutique</a></i>
                        </div>
                        <div class="timetable-day timetable-day-product">
                            <h4>Adresse</h4>
                            <p class="mb-0">{{ shop.address }} {{ shop.postalcode }} {{ shop.city }}</p>
                        </div>
                        <div class="timetable-day timetable-day-product">
                            <h4>Nous contacter</h4>
                            <p class="mt-2 mb-1">Téléphone : <a href="tel:+33{{ shop.phone }}" target="_blank">+33{{ shop.phone }}</a></p>
                            <p class="mb-1">Email : <a href="mailto:{{ shop.email }}" target="_blank">{{ shop.email }}</a></p>
                            <h4 class="mb-2 mt-3">Moyens de paiement acceptés par le commerçant</h4>
                            {% for payment in payments %}
                                <a title="{{ payment[1] }}"><i class="{{ payment[0] }} px-1"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-info">
                <h1 class="pb-3">{{ product.name }}</h1>
                <p class="text-justify">{{ product.description }}</p>
                {% set address = "%address% %zip% %city%"| replace({'%address%': shop.address, '%zip%': shop.postalcode, '%city%': shop.city}) %}
                <div class="shop-info-details">
                    <figure class="fr-content-media" role="group" aria-label="Photo © Légende de l'image">
                        <div class="fr-content-media__img">
                            <img src="{{ asset('/uploads/products/') ~ product.image }}" alt="description alternative à l‘image">
                        </div>
                        <figcaption class="fr-content-media__caption">Photo © {{ shop.name }}</figcaption>
                    </figure>
                    <div class="pl-5 w-100 h-100">
                        <h4>Prix à l'unité</h4>
                        {% if product.dealprice != null %}
                            <ul class="fr-tags-group fr-card__detail">
                                <li>
                                    <span class="fr-tag deal_price product-price">{{ product.price | format_currency('EUR') }}</span>
                                </li>
                                <li>
                                    <span class="fr-tag product-price tag-danger">{{ product.dealprice | format_currency('EUR') }}</span>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="fr-tags-group fr-card__detail">
                                <li>
                                    <span class="fr-tag product-price">
                                        {{ product.price | format_currency('EUR') }}
                                    </span>
                                </li>
                            </ul>
                        {% endif %}
                        {% if product.dealStart != null and product.dealEnd != null %}
							{% set dealstart = product.dealStart | format_datetime(pattern="dd'/'MM'/'yy 'à' HH'h'mm", locale="fr") %}
                            {% set dealend = product.dealEnd | format_datetime(pattern="dd'/'MM'/'yy 'à' HH'h'mm", locale="fr") %}
                            <span>La promotion commence le {{ dealstart }} et se termine le {{ dealend }}</span>
                        {% endif %}
                        {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-add-product'}}) }}
                            {{ form_row(form.products_id, {'value': product.id}) }}
                            {{ form_row(form.shop_id, {'value': shop.id}) }}
                            {{ form_row(form.quantity, {'value': quantity}) }}
                            {{ form_row(form.add) }}
                        {{ form_end(form) }}
						<br>
						<h4>Catégories</h4>
						<ul class="fr-tags-group categories">
                            {% if categories is not empty %}
                                {% for category in categories %}
                            	<li>
                                   <span class="fr-tag">{{ category }}</span>
                                </li>
                                {% endfor %}
                            {% else %}
                            <p>Le produit n'a pas de catégorie</p>
                            {% endif %}
						</ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}

