{% extends 'base.html.twig' %}

{% block title %}
{{ product.name }} - TouSolidaires
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'product'} %}
    <div class="bg-white m-2 rounded-2xl dark:bg-gray-700">
        <div class="pt-6">
            <nav aria-label="Breadcrumb">
                <ol role="list" class="max-w-2xl mx-auto px-4 flex items-center space-x-2 sm:px-6 lg:max-w-7xl lg:px-8">
                    <li>
                        <div class="flex items-center">
                            <a href="{{ path('shop_show', {'slug': shop.slug}) }}" class="mr-2 text-sm font-medium text-black dark:text-white hover:text-yellow-500">
                                {{ shop.name }}
                            </a>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-5 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>

                    <li class="text-sm">
                        <a href="{{ path('product_show', {'id': product.id}) }}" aria-current="page" class="font-medium text-black dark:text-white hover:text-yellow-500">
                            {{ product.name }}
                        </a>
                    </li>
                </ol>
            </nav>

            <!-- Image gallery -->
            <div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
                <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
                    <img src="{{ asset('uploads/products/' ~ product.images[1]) }}" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
                </div>
                <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
                    <img src="{{ asset('uploads/products/' ~ product.images[0]) }}" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
                </div>
                <div class="aspect-w-4 aspect-h-5 rounded-lg sm:overflow-hidden lg:aspect-w-3 lg:aspect-h-4">
                    <img src="{{ asset('uploads/products/' ~ product.images[1]) }}" alt="Model wearing plain white basic tee." class="w-full h-full object-center object-cover rounded-lg">
                </div>
            </div>

            <!-- Product info -->
            <div class="max-w-2xl mx-auto pt-10 pb-10 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-16 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
                <div class="lg:col-span-2 lg:border-r lg:border-gray-300 lg:pr-8">
                    <h1 class="text-2xl font-extrabold tracking-tight text-black dark:text-white sm:text-3xl">
                        {{ product.name }}
                    </h1>
                </div>

                <!-- Options -->
                <div class="mt-4 lg:mt-0 lg:row-span-3">
                    <h2 class="sr-only">Information du produit</h2>
                    <p class="text-3xl text-black dark:text-white">{{ product.price | format_currency('EUR') }}</p>

                    <form class="mt-10">
                        <button type="submit" class="mt-10 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add to bag</button>
                    </form>
                </div>

                <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-300 lg:pr-8">
                    <!-- Description and details -->
                    <div>
                        <h3 class="sr-only">Description</h3>

                        <div class="space-y-6">
                            <p class="text-base text-gray-600 dark:text-gray-200">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}

