{% extends 'base.html.twig' %}

{% block title 'Gérer les catégories de votre boutique - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {"active": "my-shop"} %}
    {% include 'seller/_header.html.twig' %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-12 pb-6 pt-6 mx-auto">
            <div class="flex justify-center flex-wrap -m-4">
                {% include 'seller/_tabs.html.twig' with {active: 'categories'} %}
            </div>
        </div>
        <div class="flex flex-col">
            <div class="px-1 py-2 sm:py-3 w-full sm:w-auto sm:max-w-full flex justify-center flex-wrap mx-auto rounded-xl">
                <a class="cursor-pointer px-3 py-2 bg-yellow-500 rounded-xl font-medium text-black w-full text-center" onclick="openModal('addModal')">Ajouter une catégorie</a>
                <div class="hidden z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" id="addModal" role="dialog" aria-modal="true">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <!-- Background overlay, show/hide based on modal state. -->
                        <div class="fixed inset-0 bg-gray-500 dark:bg-gray-900 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                        <!-- This element is to trick the browser into centering the modal contents. -->
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                        <!-- Modal panel, show/hide based on modal state. -->
                        <div class="inline-block align-bottom bg-white dark:bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                            {{ form_start(form) }}
                            <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                <div>
                                    <label for="shop_update_form_description" class="block text-base font-medium text-gray-600 dark:text-white">
                                        {{ form_label(form.name) }}
                                    </label>
                                    <div class="mt-1">
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white dark:bg-gray-800 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-yellow-500 text-base font-medium text-black hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                                    Confirmer
                                </button>
                                <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 focus:border-yellow-300 shadow-sm px-4 py-2 bg-white dark:bg-gray-100 text-base font-medium text-black hover:bg-gray-50 dark:hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="openModal('addModal')">
                                    Revenir en arrière
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <div class="py-2 align-middle inline-block min-w-full sm:px-2 lg:px-6">
                    {% if categories != false %}
                        <div class="shadow overflow-hidden border-b border-gray-200 dark:border-gray-700 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-500 table-striped">
                                <thead class="bg-gray-50 dark:bg-gray-800">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black dark:text-white uppercase tracking-wider">
                                        ID
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black dark:text-white uppercase tracking-wider">
                                        Nom
                                    </th>
                                    <th scope="col" class="relative px-2 py-3">
                                        <span class="sr-only">Actions</span>
                                        <span class="sr-only">Supprimer le produit</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-500">
                                {% for category in categories %}
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap text-black dark:text-white">
                                            {{ category.id }}
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap text-black dark:text-white">
                                            {{ category.name }}
                                        </td>
                                        <td class="pr-6 py-4 text-right text-sm font-medium space-x-1">
                                            <a href="" class="cursor-pointer px-3 py-2 bg-yellow-600 rounded-lg text-white">Modifier</a>
                                            <a class="cursor-pointer px-3 py-2 bg-red-600 rounded-lg text-white" onclick="openModal('deleteModal{{ category.id }}')">Supprimer</a>
                                        </td>
                                        <div class="hidden z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" id="deleteModal{{ category.id }}" role="dialog" aria-modal="true">
                                            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                                <!-- Background overlay, show/hide based on modal state. -->
                                                <div class="fixed inset-0 bg-gray-500 dark:bg-gray-900 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                                                <!-- This element is to trick the browser into centering the modal contents. -->
                                                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                                                <!-- Modal panel, show/hide based on modal state. -->
                                                <div class="inline-block align-bottom bg-white dark:bg-gray-700 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                                                    <form action="" method="POST" name="order_delete">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('category_delete') }}">
                                                        <input type="hidden" name="order_delete[id]" id="order_delete_id" value="{{ category.id }}" required>
                                                        <div class="bg-white dark:bg-gray-700 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                                            <div class="sm:flex sm:items-start">
                                                                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 dark:bg-red-600 sm:mx-0 sm:h-10 sm:w-10">
                                                                    <!-- Heroicon name: outline/exclamation -->
                                                                    <svg class="h-6 w-6 text-red-600 dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                                                    <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100" id="modal-title">
                                                                        Supprimer la catégorie n°{{ category.id }}
                                                                    </h3>
                                                                    <div class="mt-2">
                                                                        <p class="text-md text-gray-500 dark:text-gray-300">
                                                                            Vous allez confirmer que vous voulez supprimez la catégorie n°{{ category.id }}.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bg-white dark:bg-gray-700 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                                            <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                                                                Confirmer
                                                            </button>
                                                            <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 focus:border-yellow-300 shadow-sm px-4 py-2 bg-white dark:bg-gray-100 text-base font-medium text-black hover:bg-gray-50 dark:hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="openModal('deleteModal{{ category.id }}')">
                                                                Revenir en arrière
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h1 class="text-center text-3xl py-3 px-2 mx-auto font-medium text-black dark:text-white">
                            Vous n'avez pas de produits. Vous pouvez en rajouter d&egrave;s maintenant.
                        </h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script>
        function openModal(modalID) {
            document.getElementById(modalID).classList.toggle('hidden')
            document.getElementById(modalID).classList.toggle('fixed')
        }
    </script>
    {% include 'footer.html.twig' %}
{% endblock %}
