{% extends 'base.html.twig' %}

{% block title 'Créer votre boutique - ClickNToulon' %}

{% block body %}
    <div class="relative">
        <div class="absolute top-5 right-10 w-full max-w-md">
            {% for message in app.flashes('success') %}
                <div class="bg-green-600 w-full rounded-xl" id="successAlert">
                    <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                        <div class="flex items-center justify-between flex-wrap">
                            <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-lg bg-green-700">
                                    <!-- Heroicon name: outline/exclamation -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                </span>
                                <p class="ml-3 font-bold text-white">
                                    <span class="inline">
                                        {{ message }}
                                    </span>
                                </p>
                            </div>
                            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                <button type="button" class="flex p-2 rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1" onclick="closeAlert('successAlert')">
                                    <span class="sr-only">Fermer</span>
                                    <!-- Heroicon name: outline/x -->
                                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function closeAlert(alertID) {
                        document.getElementById(alertID).classList.toggle('hidden');
                        document.getElementById(alertID).classList.toggle('block');
                    }
                </script>
            {% endfor %}
        </div>
    </div>
    <section>
        <div class="sm:container px-5 mx-auto sm:max-w-7xl pt-3 max-w-full">
            <div class="flex items-center justify-center mb-4">
                <h1 class="sm:text-3xl text-xl font-extrabold title-font text-black dark:text-white uppercase tracking-wider title-underline">
                    Créer une boutique
                </h1>
            </div>
            <div class="w-full max-w-4xl mx-auto">
                <div class="block">
                    <div class="md:col-span-2">
                        {{ form_start(form) }}
                        <div class="sm:overflow-hidden rounded-xl">
                            <div class="px-4 py-5 bg-darkblue-150 dark:bg-darkblue-800 space-y-2 sm:p-6">
                                <div class="grid grid-cols-2 gap-4">
                                    <div class="col-span-2 sm:col-span-1">
                                        {{ form_row(form.name) }}
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        {{ form_row(form.tag) }}
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-4">
                                    <div class="col-span-2 sm:col-span-1">
                                        {{ form_row(form.email) }}
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        {{ form_row(form.phone) }}
                                    </div>
                                </div>
                                <div>
                                    {{ form_row(form.description) }}
                                </div>
                                <div>
                                    {{ form_row(form.address) }}
                                </div>
                                <div class="grid grid-cols-2 gap-4">
                                    <div class="col-span-2 sm:col-span-1">
                                        {{ form_row(form.postalCode) }}
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        {{ form_row(form.city) }}
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-6">
                                    <div class="col-span-2">
                                        {{ form_label(form.image) }}
                                        <div class="mt-1">
                                            {{ form_widget(form.image) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="inline-flex justify-center py-1 px-3 border border-transparent font-bold rounded-lg text-white bg-blue-700 hover:bg-blue-600 focus:bg-blue-800 active:bg-blue-800">
                                        Confirmer la création
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

