{% extends 'base.html.twig' %}

{% block title 'Modifier les informations de ma boutique - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'my-shop'} %}
    {% include 'seller/_header.html.twig' %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-6 mx-auto">
            <div class="flex justify-center flex-wrap -m-4 mb-4">
                {% include 'seller/_tabs.html.twig' with {active: 'edit'} %}
            </div>
        </div>
        <div class="container px-5 mx-auto sm:max-w-7xl pb-12 max-w-full">
            <div class="w-full">
                <div class="block md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium leading-6 text-black dark:text-white inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="ml-1">Votre boutique</span>
                            </h3>
                            <p class="mt-1 text-base text-gray-600 dark:text-gray-300">
                                Tous les champs doivent être remplis, sauf pour l'adresse mail qui est facultatif
                            </p>
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-2">
                        {{ form_start(form_update) }}
                        <div class="shadow sm:overflow-hidden rounded-2xl">
                            <div class="px-4 py-5 bg-gray-800 space-y-6 sm:p-6 rounded-t-2xl">
                                <div class="grid grid-cols-2 gap-6">
                                    <div class="col-span-2 sm:col-span-1">
                                        <label for="shop_update_form_name" class="block text-base font-medium text-gray-600 dark:text-white">
                                            {{ form_label(form_update.name) }}
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            {{ form_widget(form_update.name) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <label for="shop_update_form_tag" class="block text-base font-medium text-gray-600 dark:text-white">
                                            {{ form_label(form_update.tag) }}
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            {{ form_widget(form_update.tag) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-6">
                                    <div class="col-span-2 sm:col-span-1">
                                        <label for="shop_update_form_email" class="block text-base font-medium text-gray-600 dark:text-white">
                                            {{ form_label(form_update.email) }}
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            {{ form_widget(form_update.email) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <label for="shop_update_form_phone" class="block text-base font-medium text-gray-600 dark:text-white">
                                            {{ form_label(form_update.phone) }}
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            {{ form_widget(form_update.phone) }}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="shop_update_form_description" class="block text-base font-medium text-gray-600 dark:text-white">
                                        {{ form_label(form_update.description) }}
                                    </label>
                                    <div class="mt-1">
                                        {{ form_widget(form_update.description) }}
                                    </div>
                                </div>
                                <div>
                                    <label for="shop_update_form_address" class="block text-base font-medium text-gray-600 dark:text-white">
                                        {{ form_label(form_update.address) }}
                                    </label>
                                    <div class="mt-1">
                                        {{ form_widget(form_update.address) }}
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-6">
                                    <div class="col-span-2 sm:col-span-1">
                                        <label for="shop_update_form_postal_code" class="block text-base font-medium text-gray-600 dark:text-white">
                                            {{ form_label(form_update.postal_code) }}
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            {{ form_widget(form_update.postal_code) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <label for="shop_update_form_city" class="block text-base font-medium text-gray-600 dark:text-white">
                                            {{ form_label(form_update.city) }}
                                        </label>
                                        <div class="mt-1 flex rounded-md shadow-sm">
                                            {{ form_widget(form_update.city) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-5 gap-1">
                                    {% for payment in payments %}
                                    <div class="col-span-2 lg:col-span-1">
                                        <div class="inline-flex items-start">
                                            <div class="mt-2">
                                                <div>
                                                    <label class="inline-flex items-center align-middle">
                                                        <input type="checkbox" class="rounded border-gray-300 text-yellow-500 shadow-sm focus:border-yellow-300 focus:ring focus:ring-offset-0 focus:ring-yellow-200 focus:ring-opacity-50" name="payment[]" value="{{ payment.id }}" id="payment_{{ payment.id }}" {% if payment in shop.payments %}checked{% endif %}>
                                                        <span class="ml-2 text-gray-600 dark:text-white font-medium">{{ payment.name }}</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="px-4 py-3 bg-gray-800 text-right sm:px-6 rounded-b-2xl">
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 focus:ring-offset-white dark:focus:ring-offset-gray-800">
                                    Sauvegarder les changements
                                </button>
                            </div>
                        </div>
                        {{ form_end(form_update) }}
                    </div>
                </div>
            </div>
            <div class="block" aria-hidden="true">
                <div class="py-5">
                    <div class="border-t border-gray-600 dark:border-gray-200"></div>
                </div>
            </div>
            <div class="mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium leading-6 text-black dark:text-white inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="ml-1">Vos horaires</span>
                            </h3>
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-2 w-full md:w-auto">
                        {{ form_start(form_timetable) }}
                        <div class="shadow overflow-hidden rounded-2xl">
                            <div class="px-4 py-5 bg-gray-800 space-y-6 sm:p-6 rounded-t-2xl">
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Lundi Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.monAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.monAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Lundi Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.monPmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.monPmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Mardi Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.tueAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.tueAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Mardi Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.tuePmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.tuePmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Mercredi Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.wedAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.wedAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Mercredi Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.wedPmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.wedPmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Jeudi Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.thuAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.thuAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Jeudi Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.thuPmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.thuPmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Vendredi Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.friAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.friAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Vendredi Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.friPmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.friPmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Samedi Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.satAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.satAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Samedi Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.satPmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.satPmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Dimanche Matin
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.sunAmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.sunAmCl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-2 gap-y-1">
                                    <div class="col-span-2">
                                        <label class="block text-base font-medium text-gray-600 dark:text-white">
                                            Dimanche Après-midi
                                        </label>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.sunPmOp) }}
                                        </div>
                                    </div>
                                    <div class="col-span-2 sm:col-span-1">
                                        <div class="flex rounded-md shadow-sm">
                                            {{ form_widget(form_timetable.sunPmCl) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="px-4 py-3 bg-white dark:bg-gray-800 text-right sm:px-6">
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 focus:ring-offset-white dark:focus:ring-offset-gray-800">
                                    Sauvegarder les horaires
                                </button>
                            </div>
                        </div>
                        {{ form_end(form_timetable) }}
                    </div>
                </div>
            </div>
            <div class="block" aria-hidden="true">
                <div class="py-5">
                    <div class="border-t border-gray-200"></div>
                </div>
            </div>
            <div class="mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium leading-6 text-red-500 inline-flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
                                </svg>
                                <span class="ml-1">Supprimer votre boutique</span>
                            </h3>
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-2">
                        {{ form_start(form_delete) }}
                        <div class="shadow overflow-hidden rounded-2xl">
                            <div class="px-4 py-5 bg-white dark:bg-gray-800 space-y-6 sm:p-6">
                                <div class="text-center flex items-center flex-col">
                                    <p class="mt-2 text-black dark:text-white font-medium">
                                        Vous n'êtes pas satisfait du contenu proposé sur le site ?
                                        <br>
                                        Ou vous souhaitez supprimer toutes les informations associées à votre boutique ?
                                    </p>
                                    <p class="mt-2 text-black dark:text-white font-medium">
                                        Cette fonctionnalit&eacute; va supprimer toutes les donn&eacute;es relatives à votre boutique,
                                        ainsi que toutes les commandes passées sur le site qui ne sont encore livrées
                                        (donc même celles en attente et en préparation).
                                    </p>
                                    {{ form_row(form_delete.id) }}
                                </div>
                            </div>
                            <div class="px-4 py-3 bg-white dark:bg-gray-800 text-right sm:px-6">
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 focus:ring-offset-white dark:focus:ring-offset-gray-700">
                                    Supprimer votre boutique
                                </button>
                            </div>
                        </div>
                        {{ form_end(form_delete) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}
