{% extends 'base.html.twig' %}

{% block title 'Ma boutique - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'my-shop'} %}
    {% include 'seller/_header.html.twig' %}
    {% include 'seller/_tabs.html.twig' with {'active': 'orders'} %}

    <div class="tab-content container orders">
        <div class="tab-pane active">
            {% if orders != false %}
                <table class="table table-light table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th>N°</th>
                        <th>Nom client</th>
                        <th>Statut</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 0 %}
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ orders_buyers[i].username }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                {% if order.status == 0 %}
                                    <button class="btn btn-form mg-t-0" data-fr-opened="false" aria-controls="order-confirm">Confirmer la commande</button>
                                    <dialog aria-labelledby="order-confirm-title" id="order-confirm" class="fr-modal align-items-center justify-content-center" role="dialog">
                                        <div class="fr-container--fluid fr-container-md dialog-w-100">
                                            <div class="fr-grid-row fr-grid-row--center">
                                                <div class="fr-col-12 fr-col-md-6 dark-bg">
                                                    <div class="fr-modal__body">
                                                        <div class="fr-modal__header">
                                                            <button class="fr-link--close fr-link" aria-controls="order-confirm">Fermer</button>
                                                        </div>
                                                        <div class="fr-modal__content forms">
                                                            <h1 id="order-confirm-title" class="fr-modal__title mb-2">
                                                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                                Confirmer la commande n°{{ order.id }}
                                                            </h1>
                                                            {{ form_start(form_confirm) }}
                                                            <input type="hidden" name="_token" value="{{ csrf_token('some_key') }}">
                                                            {{ form_row(form_confirm.id, {attr: {value: order.id}}) }}
                                                            {% set now = "now"|date("Y-m-d", "Europe/Paris") %}
                                                            {{ form_row(form_confirm.date, {attr: {value: now}}) }}
                                                            {{ form_row(form_confirm.begin) }}
                                                            {{ form_row(form_confirm.end) }}
                                                            {{ form_row(form_confirm.message) }}
                                                        </div>
                                                        <div class="fr-modal__footer">
                                                            <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--inline-lg">
                                                                <li>
                                                                    <button type="button" class="fr-btn btn-danger" aria-controls="order-confirm">
                                                                        Revenir en arrière
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="submit" class="btn btn-form">
                                                                        Confirmer la commande
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {{ form_end(form_confirm) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dialog>
                                {% elseif order.status == 1 %}
                                    <button class="btn btn-form mg-t-0" data-fr-opened="false" aria-controls="order-prepared">Commande en cours de preparation</button>
                                    <dialog aria-labelledby="order-prepared-title" id="order-prepared" class="fr-modal align-items-center justify-content-center" role="dialog">
                                        <div class="fr-container--fluid fr-container-md dialog-w-100">
                                            <div class="fr-grid-row fr-grid-row--center">
                                                <div class="fr-col-12 fr-col-md-6 dark-bg">
                                                    <div class="fr-modal__body">
                                                        <div class="fr-modal__header">
                                                            <button class="fr-link--close fr-link" aria-controls="order-prepared">Fermer</button>
                                                        </div>
                                                        <div class="fr-modal__content forms">
                                                            <h1 id="order-prepared-title" class="fr-modal__title mb-2">
                                                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                                Confirmer que la commande n°{{ order.id }} est en cours de préparation
                                                            </h1>
                                                            {{ form_start(form_prepared) }}
                                                            {{ form_row(form_prepared.id, {attr: {value: order.id}}) }}
                                                            <p class="mt-3 text-white mb-0">Vous allez confirmer que le commande n°{{ order.id }} est en cours de préparation.</p>
                                                        </div>
                                                        <div class="fr-modal__footer">
                                                            <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--inline-lg">
                                                                <li>
                                                                    <button type="button" class="fr-btn btn-danger" aria-controls="order-prepared">
                                                                        Revenir en arrière
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="submit" class="fr-btn btn-form">
                                                                        Confirmer
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {{ form_end(form_prepared) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dialog>
                                {% elseif order.status == 2 %}
                                    <button class="btn btn-form mg-t-0" data-fr-opened="false" aria-controls="order-ready">Commande prête</button>
                                    <dialog aria-labelledby="order-ready-title" id="order-ready" class="fr-modal align-items-center justify-content-center" role="dialog">
                                        <div class="fr-container--fluid fr-container-md dialog-w-100">
                                            <div class="fr-grid-row fr-grid-row--center">
                                                <div class="fr-col-12 fr-col-md-6 dark-bg">
                                                    <div class="fr-modal__body">
                                                        <div class="fr-modal__header">
                                                            <button class="fr-link--close fr-link" aria-controls="order-ready">Fermer</button>
                                                        </div>
                                                        <div class="fr-modal__content forms">
                                                            <h1 id="order-ready-title" class="fr-modal__title mb-2">
                                                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                                Confirmer que la commande n°{{ order.id }} est prête
                                                            </h1>
                                                            {{ form_start(form_ready) }}
                                                            {{ form_row(form_ready.id, {attr: {value: order.id}}) }}
                                                            <p class="mt-3 text-white mb-0">Vous allez confirmer que la commande n°{{ order.id }} est prête.</p>
                                                        </div>
                                                        <div class="fr-modal__footer">
                                                            <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--inline-lg">
                                                                <li>
                                                                    <button type="button" class="fr-btn btn-danger" aria-controls="order-ready">
                                                                        Revenir en arrière
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="submit" class="fr-btn btn-form">
                                                                        Confirmer
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {{ form_end(form_ready) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dialog>
                                {% elseif order.status == 3 %}
                                    <button class="btn btn-form mg-t-0" data-fr-opened="false" aria-controls="order-pickup">Commande récupérée</button>
                                    <dialog aria-labelledby="order-pickup-title" id="order-pickup" class="fr-modal align-items-center justify-content-center" role="dialog">
                                        <div class="fr-container--fluid fr-container-md dialog-w-100">
                                            <div class="fr-grid-row fr-grid-row--center">
                                                <div class="fr-col-12 fr-col-md-6 dark-bg">
                                                    <div class="fr-modal__body">
                                                        <div class="fr-modal__header">
                                                            <button class="fr-link--close fr-link" aria-controls="order-pickup">Fermer</button>
                                                        </div>
                                                        <div class="fr-modal__content forms">
                                                            <h1 id="order-pickup-title" class="fr-modal__title mb-2">
                                                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                                Confirmer que la commande n°{{ order.id }} a été récupérée
                                                            </h1>
                                                            {{ form_start(form_pickup) }}
                                                            {{ form_row(form_pickup.id, {attr: {value: order.id}}) }}
                                                            <p class="mt-3 text-white mb-0">Vous allez confirmer que la commande n°{{ order.id }} a été récupérée.</p>
                                                        </div>
                                                        <div class="fr-modal__footer">
                                                            <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--inline-lg">
                                                                <li>
                                                                    <button type="button" class="fr-btn btn-danger" aria-controls="order-pickup">
                                                                        Revenir en arrière
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="submit" class="fr-btn btn-form">
                                                                        Confirmer
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        {{ form_end(form_pickup) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dialog>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-form btn-danger mg-t-0" data-fr-opened="false" aria-controls="order-cancel">Annuler la commande</button></td>
                                <dialog aria-labelledby="order-cancel-title" id="order-cancel" class="fr-modal align-items-center justify-content-center" role="dialog">
                                    <div class="fr-container--fluid fr-container-md dialog-w-100">
                                        <div class="fr-grid-row fr-grid-row--center">
                                            <div class="fr-col-12 fr-col-md-6 dark-bg">
                                                <div class="fr-modal__body">
                                                    <div class="fr-modal__header">
                                                        <button class="fr-link--close fr-link" aria-controls="order-cancel">Fermer</button>
                                                    </div>
                                                    <div class="fr-modal__content forms">
                                                        <h1 id="order-cancel-title" class="fr-modal__title mb-2">
                                                            <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                            Annulation de la commande n°{{ order.id }}
                                                        </h1>
                                                        {{ form_start(form_cancel) }}
                                                        <input type="hidden" name="_token" value="{{ csrf_token('some_key') }}">
                                                        {{ form_row(form_cancel.id, {attr: {value: order.id}}) }}
                                                        {{ form_row(form_cancel.message) }}
                                                        <p class="mt-3 text-white mb-0">Vous allez confirmer que vous voulez annuler la commande n°{{ order.id }}.</p>
                                                    </div>
                                                    <div class="fr-modal__footer">
                                                        <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--inline-lg">
                                                            <li>
                                                                <button type="button" class="fr-btn btn-danger" aria-controls="order-cancel">
                                                                    Revenir en arrière
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="submit" class="fr-btn btn-form">
                                                                    Confirmer
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    {{ form_end(form_cancel) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </dialog>
                            {% set i = i + 1 %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="last text-bold">Total :  {{ total_orders }}</td>
                        <td class="last"></td>
                        <td class="last"></td>
                        <td class="last"></td>
                        <td class="last"></td>
                    </tr>
                    </tfoot>
                </table>
            {% else %}
                <h3 class="text-black">Vous n'avez pas de commandes en cours.</h3>
            {% endif %}
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}