{% extends 'base.html.twig' %}

{% block title 'Gérer les produits de ma boutique - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'my-shop'} %}
    {% include 'seller/_header.html.twig' %}
    <main class="pb-4-5 pb-md-11 mt-md-n6">
        <div class="container-md">
            <div class="row">
                <div class="col-12 col-md-3">
                    {% include 'seller/_tabs.html.twig' with {active: 'products'} %}
                </div>
                <div class="col-12 col-md-9">
                    <div class="card card-bleed shadow-light-lg mb-5 seller-products">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 w-100 seller-products-title">
                            <h1>Liste des produits</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group">
                                    <button type="button" class="fr-btn fr-btn--secondary btn-home-outline fr-btn--icon-left" data-fr-opened="false" aria-controls="fr-modal-2"><i class="bi-plus-circle"></i> Ajouter un nouveau produit</button>
                                </div>
                            </div>
                        </div>
                        {% if products != false %}
                        <div class="fr-table fr-table--bordered fr-table--no-caption">
                            <table class="table table-light table-striped">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Nom</th>
                                        <th>Prix</th>
                                        <th>Prix en promo</th>
                                        <th class="last-th">Actions</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.price | format_currency('EUR') }}</td>
                                        <td>{% if product.dealprice == null %}Pas de promo{% else %}{{ product.dealprice | format_currency('EUR') }}{% endif %}</td>
                                        <td class="last-td"><a href="{{ path('seller_edit_product', {id: shop.id, product: product.id}) }}"><button class="btn btn-form mg-t-0"><i class="bi-pen-fill"></i> Modifier ce produit</button></a></td>
                                        <td class="last-td"><a href=""><button class="btn btn-form btn-danger mg-t-0"><i class="bi-trash"></i> Supprimer ce produit</button></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-bold">Total : {{ total_products }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        {% else %}
                        <h3 class="text-black">Vous n'avez pas de produits. Vous pouvez en rajouter d&egrave;s maintenant.</h3>
                        {% endif %}
                        <dialog aria-labelledby="fr-modal-2-title" id="fr-modal-2" class="fr-modal align-items-center justify-content-center" role="dialog">
                            <div class="fr-container--fluid fr-container-md dialog-w-100">
                                <div class="fr-grid-row fr-grid-row--center">
                                    <div class="fr-col-12 fr-col-md-6 dark-bg">
                                        <div class="fr-modal__body add-product">
                                            <div class="fr-modal__header">
                                                <button class="fr-link--close fr-link" aria-controls="fr-modal-2">Fermer</button>
                                            </div>
                                            <div class="fr-modal__content forms">
                                                <h1 id="fr-modal-2-title" class="fr-modal__title mb-2">
                                                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                    Ajouter un nouveau produit
                                                </h1>
                                                {{ form_start(form, {attr: {class: 'add-product-form'}}) }}
                                                    {{ form_row(form.name) }}
                                                    {{ form_row(form.categories) }}
                                                    {{ form_row(form.description) }}
                                                    <div class="column">
                                                        {{ form_row(form.price) }}
                                                        {{ form_row(form.deal_price) }}
                                                    </div>
                                                    <div class="column">
                                                        {{ form_row(form.deal_start) }}
                                                        {{ form_row(form.deal_end) }}
                                                    </div>
                                                    {{ form_row(form.image) }}
                                            </div>
                                            <div class="fr-modal__footer">
                                                <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--inline-lg">
                                                    <li>
                                                        <button type="button" class="fr-btn btn-danger" aria-controls="fr-modal-2">
                                                            Annuler
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button type="submit" class="fr-btn btn-form" >
                                                            Enregistrer
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
