{% extends 'base.html.twig' %}

{% block title 'Les boutiques - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'shop'} %}
    <div class="container-md py-10">
        <div class="row g-4">
            {% for shop in shops %}
                <div class="col-12 col-md-6">
                    <div class="card card-bleed mb-6 mb-xl-0 shadow-light-lg home-shop">
                        <a class="card-img-top" href="{{ path('shop_show', {slug: shop.slug}) }}">
                            <img src="{{ asset('uploads/shops/' ~ shop.cover) }}" alt="..." class="img-fluid" style="border-top-left-radius: 10px;border-top-right-radius: 10px">
                        </a>
                        <div class="position-relative w-100">
                            <div class="shape shape-fluid-x shape-bottom text-white">
                                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                    </div>
                        </div>
                        <a class="card-body" href="{{ path('shop_show', {slug: shop.slug}) }}">
                            <h3 class="mb-2">
                                {{ shop.name | u.truncate(40, '...', false) }}
                            </h3>
                            <p class="mb-2 text-black text-justify">
                                {{ shop.description | u.truncate(150, '...', false) }}
                            </p>
                            <p class="mb-1 text-black text-justify">
                                <i class="bi-geo"></i> Adresse : {{ shop.address }} {{ shop.postalcode }} {{ shop.city }}
                            </p>
                            {% set splitArray = shop.phone|split('', 1) %}
                            {% set first = splitArray|first %}
                            {% set firstArray =  [0, first] | join('') %}
                            {% set splitArray = splitArray|slice(1) %}
                            {% set splitArray = splitArray|join('') %}
                            {% set lastArray = [firstArray, splitArray] |join('') %}
                            {% set finalSplit = lastArray|split('', 2) %}
                            {% set formattedString = finalSplit|join(' ') %}
                            <p class="mb-1 text-black text-justify">
                                <i class="bi-telephone"></i> Téléphone : {{ formattedString }}
                            </p>
                            {% if shop.email != null %}
                                <p class="mb-1 text-black text-justify">
                                    <i class="bi-envelope"></i> Email : {{ shop.email }}
                                </p>
                            {% endif %}
                        </a>
                        <a class="card-meta w-100" href="{{ path('shop_show', {slug: shop.slug}) }}">
                            <hr class="card-meta-divider w-100">
                            <div class="meta-info d-flex justify-content-center align-items-center">
                                <ul class="fr-tags-group fr-card__detail p-2 ps-3">
                                    <li>
                                    <span class="fr-tag">
                                        <i class="bi-tags-fill me-1"></i>{{ shop.tagName }}
                                    </span>
                                    </li>
                                    <li>
                                        {% if shop.status == 2 %}
                                            <span class="fr-tag">Boutique partenaire <span class="admin-badge ms-1 me-0"><i class="fad fa-badge-check"></i></span></span>
                                        {% elseif shop.status == 1 %}
                                            <span class="fr-tag">Boutique vérifiée</span>
                                        {% else %}
                                            <span class="fr-tag">Boutique non vérifiée</span>
                                        {% endif %}
                                    </li>
                                </ul>
                                <p class="h6 text-uppercase text-muted ms-auto me-4 mb-2 arrow-icon">
                                    <i class="arrow-right"></i>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(shops) }}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}