{% extends 'base.html.twig' %}

{% block title 'Les boutiques - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'shop'} %}
    <main class="fr-container fr-container--fluid py-10">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for shop in shops %}
                <div class="fr-col-12 fr-col-md-6">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            <ul class="fr-tags-group fr-card__detail">
                                <li>
                                    <span class="fr-tag">
                                        <i class="bi-tags-fill me-1"></i>{{ shop.tagName }}
                                    </span>
                                </li>
                                <li>
                                    {% if shop.status == 2 %}
                                        <span class="fr-tag">Boutique partenaire <span class="admin-badge ms-1 me-0"><i class="fad fa-badge-check"></i></span></span>
                                    {% elseif shop.status == 1 %}
                                        <span class="fr-tag">Boutique vérifiée</span>
                                    {% else %}
                                        <span class="fr-tag">Boutique non vérifiée</span>
                                    {% endif %}
                                </li>
                            </ul>
                            <h4 class="fr-card__title">
                                <a href="{{ path('shop_show', {slug: shop.slug}) }}" class="fr-card__link">{{ shop.name }}</a>
                            </h4>
                            <p class="fr-card__desc">{{ shop.description | u.truncate(150, '...', false) }}</p>
                            <p class="mb-1"><i class="bi-geo"></i> Adresse : {{ shop.address }} {{ shop.postalcode }} {{ shop.city }}</p>
                            <p class="mb-1"><i class="bi-telephone"></i> Téléphone : +33{{ shop.phone }}</p>
                            {% if shop.email != null %}
                                <p class="mb-1"><i class="bi-envelope"></i> Email : {{ shop.email }}</p>
                            {% endif %}
                        </div>
                        <div class="fr-card__img">
                            <img src="{{ asset('images/test.jpg') }}" class="fr-responsive-img" alt="">
                            <!-- L'alternative de l'image (attribut alt) doit à priori rester vide car l'image est illustrative et ne doit pas être restituée aux technologies d’assistance. Vous pouvez toutefois remplir l'alternative si vous estimer qu'elle apporte une information essentielle à la compréhension du contenu non présente dans le texte -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(shops) }}
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}