{% extends 'base.html.twig' %}

{% block title %}
{{ shop.name }} - TouSolidaires
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'shop'} %}
    <div class="h-100 w-100 shop-img">
        <img src="{% if shop.cover %}{{ asset('uploads/shops/' ~ shop.cover) }}{% else %}{{ asset('images/1.jpg') }}{% endif %}" class="w-100 h-100" alt="Shop image">
    </div>
    <main class="main-container shop-container">
        <div class="shop-container-2">
            <div class="card-shop">
                <h3 class="card-title card-title-shop"><i class="bi-clock"></i> Horaires d'ouverture</h3>
                <div class="card-body-shop">
                    <div class="card-column">
                        {% if timetable == null %}
                        <div class="timetable-day">
                            <p class="timetable-day-p me-3 text-justify">Le commerçant n'a pas encore renseigné ses horaires d'ouverture. Nous vous invitons à prendre contact avec lui par les moyens mis à votre disposition (répertoriés sur cette page).</p>
                        </div>
                        {% else %}
                        <div class="timetable-day">
                            <h6>Lundi</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.monamop == null and timetable.monamcl == null %} Fermé {% else %}{{ timetable.monamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.monamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">
                                Après-midi : {% if timetable.monpmop == null and timetable.monpmcl == null %} Fermé {% else %}{{ timetable.monpmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.monpmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        <div class="timetable-day">
                            <h6>Mardi</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.tueamop == null and timetable.tueamcl == null %} Fermé {% else %}{{ timetable.tueamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.tueamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">Après-midi : {% if timetable.tuepmop == null and timetable.tuepmcl == null %} Fermé {% else %}{{ timetable.tuepmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.tuepmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        <div class="timetable-day">
                            <h6>Mercredi</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.wedamop == null and timetable.wedamcl == null %} Fermé {% else %}{{ timetable.wedamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.wedamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">Après-midi : {% if timetable.wedpmop == null and timetable.wedpmcl == null %} Fermé {% else %}{{ timetable.wedpmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.wedpmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        <div class="timetable-day">
                            <h6>Jeudi</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.thuamop == null and timetable.thuamcl == null %} Fermé {% else %}{{ timetable.thuamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.thuamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">Après-midi : {% if timetable.thupmop == null and timetable.thupmcl == null %} Fermé {% else %}{{ timetable.thupmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.thupmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        <div class="timetable-day">
                            <h6>Vendredi</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.friamop == null and timetable.friamcl == null %} Fermé {% else %}{{ timetable.friamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.friamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">Après-midi : {% if timetable.fripmop == null and timetable.fripmcl == null %} Fermé {% else %}{{ timetable.fripmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.fripmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        <div class="timetable-day">
                            <h6>Samedi</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.satamop == null and timetable.satamcl == null %} Fermé {% else %}{{ timetable.satamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.satamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">Après-midi : {% if timetable.satpmop == null and timetable.satpmcl == null %} Fermé {% else %}{{ timetable.satpmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.satpmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        <div class="timetable-day">
                            <h6>Dimanche</h6>
                            <p class="timetable-day-p">
                                Matin : {% if timetable.sunamop == null and timetable.sunamcl == null %} Fermé {% else %}{{ timetable.sunamop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.sunamcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                            <p class="timetable-day-p">Après-midi : {% if timetable.sunpmop == null and timetable.sunpmcl == null %} Fermé {% else %}{{ timetable.sunpmop | format_time('short',pattern="HH'h'mm", locale='fr') }} - {{ timetable.sunpmcl | format_time('short',pattern="HH'h'mm", locale='fr') }}{% endif %}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="shop-info">
                <h1 class="pb-3">{{ shop.name }}</h1>
                <p class="text-justify">{{ shop.description }}</p>
                {% set address = "%address% %zip% %city%"| replace({'%address%': shop.address, '%zip%': shop.postalcode, '%city%': shop.city}) %}
                <div class="shop-info-details">
                    <div class="mapouter"><div class="gmap_canvas">
                            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q={{ address | url_encode }}&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                        </div></div>
                    <div class="pl-5 w-100 h-100">
                        <h4 class="mb-2"><i class="bi-geo"></i> Adresse</h4>
                        <p class="mb-3">{{ shop.address }} {{ shop.postalcode }} {{ shop.city }}</p>
                        <h4>Nous contacter</h4>
                        {% set splitArray = shop.phone|split('', 1) %}
                        {% set first = splitArray|first %}
                        {% set firstArray =  [0, first] | join('') %}
                        {% set splitArray = splitArray|slice(1) %}
                        {% set splitArray = splitArray|join('') %}
                        {% set lastArray = [firstArray, splitArray] |join('') %}
                        {% set finalSplit = lastArray|split('', 2) %}
                        {% set formattedString = finalSplit|join(' ') %}
                        <p class="mt-1 mb-1"><i class="bi-telephone"></i> Téléphone : <a href="tel:+33{{ shop.phone }}" target="_blank">{{ formattedString }}</a></p>
                        {% if shop.email != null %}
                        <p class="mb-2"><i class="bi-envelope"></i> Email : <a href="mailto:{{ shop.email }}" target="_blank">{{ shop.email }}</a></p>
                        {% endif %}
                        <h4 class="mt-3">Catégorie</h4>
                        <p class="mb-3">{{ shop.tagName }}</p>
                        <h4 class="mb-2">Moyens de paiement acceptés par le commerçant</h4>
                        <div class="payments">
                            {% for payment in payments %}
                            <p class="payment" title="{{ payment[1] }}"><i class="{{ payment[0] }} px-1"></i></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

