{% extends 'base.html.twig' %}

{% block title 'Mon panier - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'basket'} %}
    {% set i = 0 %}
    {% for basket in baskets %}
        {% for shop in shops %}
            {% if basket.shopId == shop.id %}
                <h3>Boutique: {{ shop.name }}</h3>
            {% endif %}
        {% endfor %}
        {% for product in products %}
            {% if product.id in basket.productsId %}
                <div class="row">
                    <div class="col-4">
                        <img src="{{ asset(["uploads/products/",product.image]|join ) }}" alt="{{ product.name }}" height="150px">
                    </div>
                    <div class="col-4">
                        <b>{{ product.name }}</b>
                    </div>
                    <div class="col-2 d-flex">
                        <div>
                            <p>Quantity:</p>
                            <div class="btn-group">
                                <div id="delete" class="btn btn-sm btn-outline-secondary">-</div>
                                <div id="quantity" class="btn btn-sm btn-outline-secondary" disabled>{{ quantities[i] }}</div>
                                <div id="add" class="btn btn-sm btn-outline-secondary">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set i = i+1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% include 'footer.html.twig' %}
{% endblock %}