{% extends 'base.html.twig' %}

{% block title 'Mon panier - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'basket'} %}
    {% set i = 0 %}
    {% set total = 0 %}
    <div class="baskets">
        {% if baskets == null %}
            <div class="fr-container fr-container--fluid pt-4 pb-2">
                <h3>Vous n'avez aucun article dans votre panier</h3>
            </div>
        {% else %}
        {% for basket in baskets %}
            <div class="fr-container fr-container--fluid pt-4 pb-2 text-center">
                {% for shop in shops %}
                    {% if basket.shopId == shop.id %}
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-6">
                                <h3>Boutique : {{ shop.name }}</h3>
                            </div>
                            <div class="fr-col-6">
                                <a href="{{ path('basket_checkout', {id: shop.id}) }}"><button class="btn-form btn-no-mt">Passez la commande</button></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% for product in products %}
                {% if product.id in basket.productsId %}
                    <div class="fr-container fr-container--fluid pb-3">
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-4 text-center">
                                <img src="{{ asset("uploads/products/" ~ product.image ) }}" alt="{{ product.name }}" height="150px">
                            </div>
                            <div class="fr-col-4 text-center">
                                <b>{{ product.name }}</b>
                            </div>
                            <div class="fr-col-2 d-flex text-center">
                                <div>
                                    <p>Quantité</p>
                                    <div class="btn-group">
                                        <button id="delete_{{ i }}" class="btn btn-sm btn-outline-secondary">-</button>
                                        <input id="quantity_{{ i }}" class="btn btn-sm btn-outline-secondary" value="{{ quantities[i] }}">
                                        <button id="add_{{ i }}" class="btn btn-sm btn-outline-secondary">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="fr-col-2 text-center">
                                <p>Prix</p>
                                {% set p = product.price * quantities[i] %}
                                {% set total = total + p %}
                                <b id="price_{{ i }}">{{ p|number_format(2,',',' ') }} €</b>
                            </div>
                        </div>
                        <script>
                            const input_{{ i }} = document.querySelector("#quantity_{{ i }}");
                            const delete_btn_{{ i }} = document.querySelector("#delete_{{ i }}");
                            const add_{{ i }} = document.querySelector("#add_{{ i }}");
                            add_{{ i }}.onclick = function () {
                                const value = Number(input_{{ i }}.value) + 1
                                input_{{ i }}.value = value
                                let p = {{ product.price }} * input_{{ i }}.value
                                const price_{{ i }} = document.querySelector("#price_{{ i }}")
                                price_{{ i }}.innerHTML = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(p)
                            }
                            delete_btn_{{ i }}.onclick = function () {
                                const value = Number(input_{{ i }}.value) - 1
                                input_{{ i }}.value = value
                                let p = {{ product.price }} * input_{{ i }}.value
                                const price_{{ i }} = document.querySelector("#price_{{ i }}")
                                price_{{ i }}.innerHTML = new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(p)
                            }
                        </script>
                        {% set i = i+1 %}
                    </div>
                    {% endif %}
                {% endfor %}
        {% endfor %}
        <div class="fr-container fr-container--fluid pb-4 text-center">
            <b>Total : {{ total|number_format(2,',',' ') }} €</b>
        </div>
        {% endif %}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}