<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ email.subject }}</title>
    </head>
    <body>
        <img src="{{ email.image('@images/clickntoulon.svg') }}" alt="Logo ClickNToulon" width="150" height="150">
        <p class="card-text">Bonjour {{ name }}!</p>
        <br>
        <p>Votre commande numéro {{ id }} a été accepté par le commerçant.</p>
        <p>Vous pourrez la récupérer le {{ date }} dans la journée.</p>
        <p>Si vous souhaitez une facture, vous pourrez la demander directement auprès du commerçant.</p>
        <br>
        {% if message != null %}
        <p>Le commerçant a laissé un message pour vous:
        {{ message }}
        <br>
        {% endif %}
        <p>Solidairement,</p>
        <p>L'équipe ClickNToulon</p>
    </body>
</html>