<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/dsfr.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-icons.css') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('js/icons.js') }}"></script>
        <script type="module" src="{{ asset('js/dsfr.module.min.js') }}"></script>
        <script nomodule src="{{ asset('js/dsfr.nomodule.js') }}"></script>
    </body>
</html>
