<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.svg') }}">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/dsfr.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('js/icons.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script type="module" src="{{ asset('js/dsfr.module.min.js') }}"></script>
        <script nomodule src="{{ asset('js/dsfr.nomodule.js') }}"></script>
    </body>
</html>
