<footer class="pt-3 pb-md-3 pt-md-5">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-6 col-md">
                <h5 class="footer-title">La plateforme</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ path('search') }}"><i class="bi-search"></i> Rechercher</a></li>
                    <li><a href="{{ path('shop_index') }}"><i class="bi-shop-window"></i> Les boutiques</a></li>
                    <li><a href="{{ path('product_index') }}"><i class="bi-box-seam"></i> Les produits</a></li>
                    {% if user is defined and user != null %}
                        <li><a href="{{ path('app_logout') }}"><button class="btn btn-danger btn-mt"><i class="bi-box-arrow-right"></i> Déconnexion</button></a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}"><button class="btn btn-home btn-mt"><i class="bi-box-arrow-in-right"></i> Connexion</button></a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-6 col-md">
                <img src="{{ asset('images/logo.svg') }}" alt="TouSolidaires" class="logo-ts" height="200px" width="200px">
            </div>
            <div class="col-6 col-md">
                <h5 class="footer-title">À Propos</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ path('about_index') }}"><i class="bi-info-circle"></i> Qui sommes-nous ?</a></li>
                    <li><a href="{{ path('about_team') }}"><i class="bi-people"></i> Notre Équipe</a></li>
                    <li><a href="{{ path('about_cgu') }}"><i class="bi-file-text"></i> CGU</a></li>
                    <li><a href="{{ path('about_confidentialite') }}"><i class="bi-eye-slash"></i> Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div width="100%" class="img-center">
            <div class="copyright">
                <small class="d-block mb-2 copy"><i class="fal fa-copyright" aria-hidden="true"></i> 2021 TouSolidaires Tous droits réservés</small>
            </div>
        </div>
    </div>
</footer>