{% extends 'base.html.twig' %}

{% block title 'ClickNToulon - Made in Toulon for Toulon' %}

{% block body %}
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 text-center lg:pt-32">
        <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 dark:text-white sm:text-7xl">
            {% if app.user is not null %}
                Bienvenue
                <span class="relative whitespace-nowrap text-sky-500 dark:text-sky-400">
                    <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-slate-700/70 dark:fill-sky-700/30" preserveAspectRatio="none">
                        <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path>
                    </svg>
                    <span class="relative">{{ app.user.surname }} {{ app.user.name }}</span>
                </span>
            {% else %}
                Made for
                <span class="relative whitespace-nowrap text-sky-500 dark:text-sky-400">
                    <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-slate-700/70 dark:fill-sky-700/30" preserveAspectRatio="none">
                        <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path>
                    </svg>
                    <span class="relative">Toulon</span>
                </span>
                in Toulon
            {% endif %}
        </h1>
        <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700 dark:text-slate-200">
            {% if app.user is not null %}
                Que cherchez-vous de beau sur ClickNToulon aujourd'hui ? <br> Une envie particulière ou une envie de regarder les nouveautés ?
            {% else %}
                Une plateforme de Click&Collect sur Toulon, réalisé par des étudiants, à Toulon.
            {% endif %}
        </p>
        <div class="mt-10 flex justify-center space-x-6">
            {% if app.user is not null %}
                <a
                    class="group inline-flex items-center justify-center rounded-lg py-2 px-4 font-bold focus:outline-none
                    focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 dark:bg-sky-600 text-white hover:bg-slate-700
                    dark:hover:bg-sky-500 hover:text-slate-100 focus-visible:outline-slate-900 transition-all duration-500"
                    href="{{ path('user_orders') }}"
                >
                    Mes commandes
                </a>
                <a
                    class="group inline-flex ring-2 items-center justify-center rounded-lg py-1 px-4 font-bold
                    focus:outline-none ring-slate-200 dark:ring-sky-600 text-slate-700 dark:text-white hover:text-slate-900
                    dark:hover:text-slate-100 hover:ring-slate-300 dark:hover:ring-sky-500 active:text-slate-600
                    focus-visible:outline-sky-600 focus-visible:ring-slate-300 transition-all duration-500"
                    href="{{ path('basket_index') }}"
                >
                    Mon panier
                </a>
            {% else %}
                <a
                    class="group inline-flex items-center justify-center rounded-lg py-2 px-4 font-bold focus:outline-none
                    focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 dark:bg-sky-600 text-white hover:bg-slate-700
                    dark:hover:bg-sky-500 hover:text-slate-100 focus-visible:outline-slate-900 transition-all duration-500"
                    href="{{ path('app_signup') }}"
                >
                    Créez votre compte
                </a>
                <a
                    class="group inline-flex ring-2 items-center justify-center rounded-lg py-1 px-4 font-bold
                    focus:outline-none ring-slate-200 dark:ring-sky-600 text-slate-700 dark:text-white hover:text-slate-900
                    dark:hover:text-slate-100 hover:ring-slate-300 dark:hover:ring-sky-500 active:text-slate-600
                    focus-visible:outline-sky-600 focus-visible:ring-slate-300 transition-all duration-500"
                    href="{{ path('about_index') }}"
                >
                    Qui sommes-nous ?
                </a>
            {% endif %}
        </div>
        <div class="mt-24 lg:mt-32">
            <p class="font-display text-xl text-slate-900 dark:text-white">Sponsorisé par</p>
            <ul class="mt-1 flex items-center justify-center space-x-8 sm:flex-col sm:space-x-0 sm:space-y-10 xl:flex-row xl:space-y-0 xl:space-x-12">
                <li>
                    <ul class="flex flex-col items-center space-y-8 sm:flex-row sm:space-y-0 sm:space-x-12">
                        <li class="flex">
                            <a href="https://isen-mediterranee.fr">
                                <img alt="ISEN" class="w-auto h-28" src="https://juniorisen.com/images/ISEN-YNCREA-Mediterranee-removebg-preview.png" decoding="async" data-nimg="fixed">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <section>
        <div class="sm:container mx-auto pt-16 px-4 sm:pt-24 sm:px-6 lg:px-8">
            <div class="flex items-center justify-center md:justify-between border-b-2 border-slate-300 dark:border-slate-700 pb-4">
                <h2 class="text-3xl font-medium text-slate-900 dark:text-slate-100">Les boutiques partenaires</h2>
                <a href="{{ path('shop_index') }}" class="text-black dark:text-white text-lg font-medium hidden sm:inline-flex items-center hover:underline decoration-[3px] decoration-sky-600 underline-offset-4">
                    <span class="mr-1">Toutes les boutiques</span>
                    <svg class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-4 sm:grid-cols-2">
                {% if shops is defined and shops != [] %}
                    {% for shop in shops %}
                        <a
                            href="{{ path('shop_show', {slug: shop.slug}) }}"
                            class="shrink-0 p-2 group-hover:bg-slate-700 rounded-lg group relative before:absolute before:-inset-0 before:rounded-lg before:bg-gray-50 dark:before:bg-slate-700 before:opacity-0 hover:before:opacity-100"
                        >
                            <img class="aspect-video w-full h-72 rounded-lg group-hover:opacity-75" src="{{ asset('uploads/shops/' ~ shop.image) }}" alt="">
                            <div class="p-4 relative">
                                <div class="flex justify-between items-center flex-wrap space-y-1">
                                    <h3 class="text-2xl text-black dark:text-white group-hover:underline underline-offset-4 decoration-[3px] decoration-sky-600 font-semibold tracking-wide">
                                        {{ shop.name }}
                                    </h3>
                                    <div class="inline-flex items-center justify-center text-lg font-medium text-gray-900 dark:text-gray-200">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                                        </svg>
                                        <p>{{ shop.address }} {{ shop.postalCode }} {{ shop.city }}</p>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <p class="text-lg text-justify text-gray-900 dark:text-gray-200 font-medium">{{ shop.description | u.truncate(175, '...', false) }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="w-full flex items-center justify-center flex-col space-y-4 mt-10">
                        <h1 class="text-center text-black dark:text-white font-semibold text-4xl">
                            Aucune boutique sur ClickNToulon actuellement...
                        </h1>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section>
        <div class="sm:container mx-auto pt-8 px-4 sm:pt-16 sm:px-6 lg:px-8">
            <div class="flex items-center justify-center md:justify-between border-b-2 border-slate-300 dark:border-slate-700 pb-4">
                <h2 class="text-3xl font-medium text-slate-900 dark:text-slate-100">Les derniers produits</h2>
                <a href="{{ path('product_index') }}" class="text-black dark:text-white text-lg font-medium hidden sm:inline-flex items-center hover:underline decoration-[3px] decoration-sky-600 underline-offset-4">
                    <span class="mr-1">Tous les produits</span>
                    <svg class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-4 xl:gap-y-6">
                {% if products is defined and products != [] %}
                    {% include 'product/product_skeleton.html.twig' with {'products': products} %}
                {% else %}
                    <h1 class="text-center col-span-1 sm:col-span-2 lg:col-span-4 w-full flex items-center justify-center text-black dark:text-white font-bold text-4xl mt-10 mb-16">
                        Aucun produit disponible actuellement...
                    </h1>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}