{% extends 'base.html.twig' %}

{% block title 'TouSolidaires - Le site des achats solidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'home'} %}
    {% if user is defined and user == null %}
    <div class="container-fluid hero">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('images/logo-home.svg') }}" class="d-block mx-lg-auto img-fluid" alt="Logo Noir"
                     width="500" height="450" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">TouSolidaires, le site des achats solidaires</h1>
                <p class="lead">
                    TouSolidaires est une plateforme associative qui fonctionne 24h/24 7j/7.
                    <br>
                    Réalisé par des étudiants de l’ISEN de Toulon et propulsé par Junior’ISEN, le but est de venir en aide aux commerçants toulonnais.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{{ path('app_signup') }}"><button type="button" class="fr-btn btn-home">Créer votre compte</button></a>
                    <a href="{{ path('about_index') }}"><button type="button" class="fr-btn fr-btn--secondary btn-home-outline">Qui sommes-nous ?</button></a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="px-4 py-5 my-5 mb-0 text-center">
        <img class="d-block mx-auto mb-4" src="{% if user.avatar %}{{ asset('uploads/users/') ~ user.avatar }}{% else %}{{ asset('images/logo-home.svg') }}{% endif %}" alt="" width="150" height="150">
        <h1 class="display-5 fw-bold">Bienvenue {{ user.username }}</h1>
        <div class="col-lg-6 mx-auto">
            <div class="fr-btns-group fr-btns-group--inline">
                <li>
                    <a href="{{ path('user_profil') }}">
                        <button class="fr-btn btn-home">Mon profil</button>
                    </a>
                </li>
                <li>
                    <a href="{{ path('user_orders') }}">
                        <button class="fr-btn fr-btn--secondary btn-home-outline">Mes commandes</button>
                    </a>
                </li>
                <li>
                    <a href="{{ path('basket_index') }}">
                        <button class="fr-btn fr-btn--secondary btn-home-outline">Mon panier</button>
                    </a>
                </li>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="fr-container fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for shop in shops %}
                <div class="fr-col-12 fr-col-md-6">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            <ul class="fr-tags-group fr-card__detail">
                                <li>
                                    <span class="fr-tag">
                                        <i class="bi-tags-fill me-1"></i>{{ shop.tagName }}
                                    </span>
                                </li>
                                <li>
                                    {% if shop.status == 2 %}
                                        <span class="fr-tag">Boutique partenaire <span class="admin-badge ms-1 me-0"><i class="fad fa-badge-check"></i></span></span>
                                    {% elseif shop.status == 1 %}
                                        <span class="fr-tag">Boutique vérifiée</span>
                                    {% else %}
                                        <span class="fr-tag">Boutique non vérifiée</span>
                                    {% endif %}
                                </li>
                            </ul>
                            <h4 class="fr-card__title">
                                <a href="{{ path('shop_show', {slug: shop.slug}) }}" class="fr-card__link">{{ shop.name }}</a>
                            </h4>
                            <p class="fr-card__desc">{{ shop.description | u.truncate(150, '...', false) }}</p>
                            <p class="mb-1"><i class="bi-geo"></i> Adresse : {{ shop.address }} {{ shop.postalcode }} {{ shop.city }}</p>
                            {% set splitArray = shop.phone|split('', 1) %}
                            {% set first = splitArray|first %}
                            {% set firstArray =  [0, first] | join('') %}
                            {% set splitArray = splitArray|slice(1) %}
                            {% set splitArray = splitArray|join('') %}
                            {% set lastArray = [firstArray, splitArray] |join('') %}
                            {% set finalSplit = lastArray|split('', 2) %}
                            {% set formattedString = finalSplit|join(' ') %}
                            <p class="mb-1"><i class="bi-telephone"></i> Téléphone : {{ formattedString }}</p>
                            {% if shop.email != null %}
                                <p class="mb-1"><i class="bi-envelope"></i> Email : {{ shop.email }}</p>
                            {% endif %}
                        </div>
                        <div class="fr-card__img">
                            <img src="{{ asset('images/test.jpg') }}" class="fr-responsive-img" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="fr-container fr-container--fluid py-10">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for product in products %}
                <div class="fr-col-12 fr-col-md-3">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            {% if product.dealprice != null %}
                                <ul class="fr-tags-group fr-card__detail">
                                    <li>
                                        <span class="fr-tag deal_price product-price">{{ product.price | format_currency('EUR') }}</span>
                                    </li>
                                    <li>
                                        <span class="fr-tag product-price tag-danger">{{ product.dealprice | format_currency('EUR') }}</span>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="fr-tags-group fr-card__detail">
                                    <li>
                                    <span class="fr-tag product-price">
                                        {{ product.price | format_currency('EUR') }}
                                    </span>
                                    </li>
                                </ul>
                            {% endif %}
                            <h4 class="fr-card__title">
                                <a href="{{ path('product_show', {id: product.id}) }}" class="fr-card__link">{{ product.name }}</a>
                            </h4>
                            <p class="fr-card__desc">{{ product.description }}</p>
                        </div>
                        <div class="fr-card__img">
                            <img src="{% if product.image != null %}{{ asset('uploads/products/' ~ product.image) }}{% else %}{{ asset('images/1.jpg') }}{% endif %}" class="fr-responsive-img" alt="Image produit n°{{ product.id }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ path('product_index') }}"><button class="fr-btn fr-btn--secondary fr-btn--lg btn-home-outline">Voir plus de produits</button></a>
        </div>
    </div>
    {% include('footer.html.twig') %}
{% endblock %}