<nav>
    <div class="desktop:container mx-auto px-5 lg:px-8 py-2">
        <div class="relative flex items-center justify-between h-[4.25rem]">
            <div class="absolute inset-y-0 left-0 flex items-center desktop:hidden">
                <!-- Mobile menu button-->
                <button type="button" class="relative inline-flex border-2 border-gray-400 focus:border-transparent dark:border-transparent items-center justify-center p-2 rounded-md text-black dark:text-white bg-white dark:bg-blue-800" aria-controls="mobile-menu" aria-expanded="false" onclick="toggleNavbar('mobile-menu', 'menu-close', 'menu-open')">
                    <span class="sr-only">Open main menu</span>
                    <!-- Icon when menu is closed. Heroicon name: outline/menu. Menu open: "hidden", Menu closed: "block" -->
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" id="menu-open">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <!-- Icon when menu is open. Heroicon name: outline/x. Menu open: "block", Menu closed: "hidden" -->
                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" id="menu-close">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex-1 flex items-center justify-center desktop:items-stretch desktop:justify-start h-full">
                <div class="flex-shrink-0 flex items-center">
                    <a href="{{ path('home') }}"><img class="block h-[3.75rem] w-auto" src="{{ asset('images/clickntoulon.svg') }}" id="navbar-logo" alt="Logo ClickNToulon"></a>
                </div>
                <div class="hidden desktop:block desktop:ml-auto h-full">
                    <div class="flex space-x-6 h-full">
                        <!-- Active: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="{{ path('home') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center text-blue-700 dark:text-white hover:text-darkblue-300 dark:hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'home' %}underline text-darkblue-300 dark:text-blue-400{% endif %}" aria-current="page">
                            Accueil
                        </a>
                        <a href="{{ path('shop_index') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center text-blue-700 dark:text-white hover:text-darkblue-300 dark:hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'shop' %}underline text-darkblue-300 dark:text-blue-400{% endif %}">
                            Boutiques
                        </a>
                        <a href="{{ path('product_index') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center text-blue-700 dark:text-white hover:text-darkblue-300 dark:hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'product' %}underline text-darkblue-300 dark:text-blue-400{% endif %}">
                            Produits
                        </a>
                        <a href="{{ path('search') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center text-blue-700 dark:text-white hover:text-darkblue-300 dark:hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'search' %}underline text-darkblue-300 dark:text-blue-400{% endif %}">
                            Recherche
                        </a>
                        {% if user is defined and user is not null %}
                            <a href="{{ path('basket_index') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center text-blue-700 dark:text-white hover:text-darkblue-300 dark:hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'basket' %}underline text-darkblue-300 dark:text-blue-400{% endif %}">
                                Panier
                            </a>
                            <div class="relative px-3 w-full font-semibold my-auto inline-block items-center">
                                <div>
                                    <button type="button" class="inline-flex justify-center items-center w-full min-w-max rounded-full shadow-lg px-4 py-1 bg-blue-700 hover:bg-blue-600 font-semibold text-white text-lg" aria-expanded="true" aria-haspopup="true" onclick="openDropdown('menu-button')">
                                        Mon compte
                                        <!-- Heroicon name: solid/chevron-down -->
                                        <svg class="h-5 w-5 -mr-2 ml-2 mt-[2.5px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path class="" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                                <!-- Dropdown menu, show/hide based on menu state. -->
                                <div class="origin-top-right absolute right-0 left-0 mt-2.5 w-42 rounded-lg hidden shadow-lg dark:shadow-none bg-darkblue-150 z-40 dark:bg-blue-900 min-w-max w-full" role="menu" aria-orientation="vertical" id="menu-button" aria-labelledby="menu-button" tabindex="-1">
                                    <div class="flex items-center justify-center flex-col min-w-max p-2" role="none">
                                        {% if is_granted('ROLE_MERCHANT') %}
                                        <a href="{{ path('seller_choose') }}" class="text-black dark:text-white block px-4 py-3 hover:bg-darkblue-200 dark:hover:bg-blue-600 text-lg inline-flex items-center justify-center w-full rounded-lg" role="menuitem" tabindex="-1" id="menu-item-0">
                                            Ma Boutique
                                        </a>
                                        {% endif %}
                                        <a href="{{ path('user_edit') }}" class="text-black dark:text-white block px-4 py-3 hover:bg-darkblue-200 dark:hover:bg-blue-600 text-lg w-full inline-flex items-center justify-center rounded-lg" role="menuitem" tabindex="-1" id="menu-item-1">
                                            Mon profil
                                        </a>
                                        <a href="{{ path('user_orders') }}" class="text-black dark:text-white block px-4 py-3 hover:bg-darkblue-200 dark:hover:bg-blue-600 text-lg w-full inline-flex items-center justify-center rounded-lg" role="menuitem" tabindex="-1" id="menu-item-2">
                                            Mes commandes
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path('app_logout') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-blue-700 dark:text-white hover:text-darkblue-300 dark:hover:text-blue-400 underline-offset-4 decoration-2 hover:underline">
                                Déconnexion
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="flex items-center justify-center align-middle h-10 my-auto" role="menuitem" tabindex="-1" id="user-menu-item-2">
                                <button class="test text-blue-900 hover:text-white dark:text-white font-bold px-6 py-2 border-2 border-blue-800 hover:bg-blue-900 hover:border-blue-900 rounded-full">
                                    Connexion
                                </button>
                            </a>
                            <a href="{{ path('app_signup') }}" class="flex items-center justify-center align-middle h-10 my-auto">
                                <button class="test text-white font-bold px-6 py-2 bg-blue-700 border-2 border-transparent hover:bg-blue-600 rounded-full">
                                    Inscription
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden desktop:hidden" id="mobile-menu">
        <div class="container mx-auto px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="{{ path('home') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-gray-600 dark:text-white hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'home' %}underline text-blue-400 dark:text-blue-400{% endif %}" aria-current="page">
                Accueil
            </a>
            <a href="{{ path('shop_index') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-gray-600 dark:text-white hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'shop' %}underline text-blue-400 dark:text-blue-400{% endif %}">
                Boutiques
            </a>
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="{{ path('product_index') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-gray-600 dark:text-white hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'product' %}underline text-blue-400 dark:text-blue-400{% endif %}">
                Produits
            </a>
            <a href="{{ path('search') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-gray-600 dark:text-white hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'search' %}underline text-blue-400 dark:text-blue-400{% endif %}">
                Recherche
            </a>
            {% if user is defined and user is not null %}
                <a href="{{ path('basket_index') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-gray-600 dark:text-white hover:text-blue-400 underline-offset-4 decoration-2 hover:underline {% if active == 'basket' %}underline text-blue-400 dark:text-blue-400{% endif %}">
                    Panier
                </a>
                <div class="relative px-3 w-full font-semibold my-auto inline-block items-center">
                    <div>
                        <button type="button" class="inline-flex justify-center items-center w-full min-w-max rounded-full shadow-lg px-4 py-1 bg-blue-700 hover:bg-blue-600 font-semibold text-white text-lg" aria-expanded="true" aria-haspopup="true" onclick="openDropdown('menu-mobile')">
                            Mon compte
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="h-5 w-5 -mr-2 ml-2 mt-[2.5px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path class="" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <!-- Dropdown menu, show/hide based on menu state. -->
                    <div class="origin-top-right absolute right-0 left-0 mt-2.5 w-42 rounded-lg hidden shadow-lg dark:shadow-none bg-white z-40 dark:bg-blue-900 ring-1 ring-black ring-opacity-5 focus:outline-none min-w-max w-full" role="menu" aria-orientation="vertical" id="menu-mobile" aria-labelledby="menu-button" tabindex="-1">
                        <div class="flex items-center justify-center flex-col min-w-max p-2" role="none">
                            {% if is_granted('ROLE_MERCHANT') %}
                                <a href="{{ path('seller_choose') }}" class="text-black dark:text-white block px-4 py-3 hover:bg-gray-100 dark:hover:bg-blue-600 text-lg inline-flex items-center justify-center w-full rounded-lg" role="menuitem" tabindex="-1" id="menu-item-0">
                                    Ma Boutique
                                </a>
                            {% endif %}
                            <a href="{{ path('user_edit') }}" class="text-black dark:text-white block px-4 py-3 hover:bg-gray-100 dark:hover:bg-blue-600 text-lg w-full inline-flex items-center justify-center rounded-lg" role="menuitem" tabindex="-1" id="menu-item-1">
                                Mon profil
                            </a>
                            <a href="{{ path('user_orders') }}" class="text-black dark:text-white block px-4 py-3 hover:bg-gray-100 dark:hover:bg-blue-600 text-lg w-full inline-flex items-center justify-center rounded-lg" role="menuitem" tabindex="-1" id="menu-item-2">
                                Mes commandes
                            </a>
                        </div>
                    </div>
                </div>
                <a href="{{ path('app_logout') }}" class="px-3 py-2 text-lg font-extrabold test flex items-center justify-center text-gray-600 dark:text-white hover:text-blue-400 underline-offset-4 decoration-2 hover:underline">
                    Déconnexion
                </a>
            {% else %}
                <div class="space-y-3">
                    <a href="{{ path('app_login') }}" class="flex items-center justify-center align-middle h-10 my-auto" role="menuitem" tabindex="-1" id="user-menu-item-2">
                        <button class="test text-white font-bold px-6 py-2 border-2 border-blue-800 hover:bg-blue-900 hover:border-blue-900 rounded-full w-full">
                            Connexion
                        </button>
                    </a>
                    <a href="{{ path('app_signup') }}" class="flex items-center justify-center align-middle h-10 my-auto">
                        <button class="test text-white font-bold px-6 py-2 bg-blue-700 border-2 border-transparent hover:bg-blue-600 rounded-full w-full">
                            Inscription
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<script>
    function toggleNavbar(collapseID, menuCloseID, menuOpenID) {
        document.getElementById(collapseID).classList.toggle('hidden');
        document.getElementById(collapseID).classList.toggle('block');
        document.getElementById(menuCloseID).classList.toggle('hidden');
        document.getElementById(menuCloseID).classList.toggle('block');
        document.getElementById(menuOpenID).classList.toggle('hidden');
        document.getElementById(menuOpenID).classList.toggle('block');
    }

    function openDropdown(collapseID) {
        document.getElementById(collapseID).classList.toggle('hidden');
        document.getElementById(collapseID).classList.toggle('block');
    }
</script>