{% extends 'base.html.twig' %}

{% block title 'Modifier mes informations - ClickNToulon' %}

{% block body %}
    <div class="relative">
        <div class="absolute top-5 right-10 w-full max-w-md">
            {% for message in app.flashes('success') %}
                <div class="bg-green-600 w-full rounded-xl" id="successAlert">
                    <div class="max-w-7xl mx-auto py-3 px-3 rounded-xl">
                        <div class="flex items-center justify-between flex-wrap">
                            <div class="w-0 flex-1 flex items-center">
                                <span class="flex p-2 rounded-lg bg-green-700">
                                    <!-- Heroicon name: outline/exclamation -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                </span>
                                <p class="ml-3 font-bold text-white">
                                    <span class="inline">
                                        {{ message }}
                                    </span>
                                </p>
                            </div>
                            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                                <button type="button" class="flex p-2 rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-white -mr-1" onclick="closeAlert('successAlert')">
                                    <span class="sr-only">Fermer</span>
                                        <!-- Heroicon name: outline/x -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function closeAlert(alertID) {
                        document.getElementById(alertID).classList.toggle('hidden');
                        document.getElementById(alertID).classList.toggle('block');
                    }
                </script>
            {% endfor %}
        </div>
    </div>
    {% include 'user/_header.html.twig' %}
    <div class="relative mx-auto flex justify-center sm:px-2 lg:px-8 xl:px-12">
        <div class="hidden lg:relative lg:block lg:flex-none">
            <div class="sticky -ml-0.5 pl-0.5">
                <nav class="w-64 pr-8 xl:w-72 xl:pr-16">
                    <ul>
                        <li>
                            {% include 'user/_tabs.html.twig' with {active: 'edit'} %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="min-w-0 max-w-4xl flex-auto px-4 lg:max-w-6xl lg:px-0">
            <article>
                <div class="flex flex-col divide-y-2 dark:divide-slate-700">
                    <div class="w-full pb-10">
                        <div class="block flex flex-col justify-center w-full mx-auto space-y-6 max-w-6xl">
                            <div>
                                <div class="flex flex-col space-y-1">
                                    <h3 class="text-2xl font-bold text-black dark:text-white inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        <span class="ml-3">Mes informations</span>
                                    </h3>
                                    <p class="text-base font-normal text-black dark:text-white">
                                        Tous les champs doivent être remplis, sauf pour l'adresse, le code postal, la ville et le téléphone
                                    </p>
                                </div>
                            </div>
                            <div>
                                {{ form_start(form_profile) }}
                                <div class="sm:overflow-hidden">
                                    <div class="space-y-2">
                                        <div class="grid grid-cols-2 gap-y-1 tablet:gap-6">
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_profile.name) }}
                                            </div>
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_profile.surname) }}
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-2 gap-y-1 tablet:gap-6">
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_profile.email) }}
                                            </div>
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_profile.phone) }}
                                            </div>
                                        </div>
                                        <div>
                                            {{ form_row(form_profile.address) }}
                                        </div>
                                        <div class="grid grid-cols-2 gap-y-1 tablet:gap-6">
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_profile.postalCode) }}
                                            </div>
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_profile.city) }}
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button
                                                type="submit"
                                                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 font-bold focus:outline-none
                                                focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 dark:bg-sky-600 text-white hover:bg-slate-700
                                                dark:hover:bg-sky-500 hover:text-slate-100 focus-visible:outline-slate-900 transition-all duration-500"
                                            >
                                                Sauvegarder les changements
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form_profile) }}
                            </div>
                        </div>
                    </div>
                    <div class="py-10">
                        <div class="flex flex-col max-w-6xl mx-auto space-y-4">
                            <div>
                                <div>
                                    <h3 class="text-2xl font-bold text-black dark:text-white inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                                        </svg>
                                        <span class="ml-3">Modifier mon mot de passe</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="md:col-span-2 w-full md:w-auto">
                                {{ form_start(form_password) }}
                                <div class="sm:overflow-hidden">
                                    <div class="space-y-2">
                                        <div class="grid grid-cols-2 tablet:gap-6">
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_password.password.first) }}
                                            </div>
                                            <div class="col-span-2 sm:col-span-1">
                                                {{ form_row(form_password.password.second) }}
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button
                                                type="submit"
                                                class="group inline-flex items-center justify-center rounded-lg py-2 px-4 font-bold focus:outline-none
                                                focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 dark:bg-sky-600 text-white hover:bg-slate-700
                                                dark:hover:bg-sky-500 hover:text-slate-100 focus-visible:outline-slate-900 transition-all duration-500"
                                            >
                                                Sauvegarder le mot de passe
                                            </button>
                                        </div>
                                    </div>
                                {{ form_end(form_password) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-10">
                        <div class="flex flex-col space-y-4 max-w-6xl mx-auto">
                            <div>
                                <div>
                                    <h3 class="text-2xl font-bold text-black dark:text-white inline-flex items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
                                        </svg>
                                        <span class="ml-3">Supprimer votre compte</span>
                                    </h3>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="overflow-hidden">
                                        <div class="space-y-4">
                                            <div class="flex flex-col">
                                                <p class="text-black dark:text-white font-medium">
                                                    Vous n'&ecirc;tes pas satisfait du contenu propos&eacute;
                                                    sur le site ?<br>
                                                    Ou vous souhaitez supprimer toutes les informations associ&eacute;es à votre
                                                    compte ?
                                                </p>
                                                <p class="mt-2 text-black dark:text-white font-medium">
                                                    Cette fonctionnalit&eacute; va supprimer toutes les donn&eacute;es
                                                    relatives &agrave; votre profil, ainsi que toutes vos commandes pass&eacute;es
                                                    sur le site.
                                                </p>
                                            </div>
                                            <div class="text-center">
                                                <button
                                                    type="button"
                                                    id="openDialogButton"
                                                    class="group inline-flex items-center justify-center rounded-lg py-2 px-4 font-bold focus:outline-none
                                                    focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 dark:bg-red-700 text-white hover:bg-slate-700
                                                    dark:hover:bg-red-600 hover:text-slate-100 focus-visible:outline-slate-900 transition-all duration-500"
                                                >
                                                    Supprimer votre compte
                                                </button>
                                                <dialog class="bg-slate-100 dark:bg-slate-900 rounded-lg text-left overflow-hidden shadow-lg transform transition-all sm:align-middle sm:max-w-lg sm:w-full p-0 backdrop:bg-slate-900/50 backdrop:backdrop-blur" aria-labelledby="modal-title" id="deleteDialog" aria-modal="true">
                                                    <!-- Modal panel, show/hide based on modal state. -->
                                                    <div class="inline-block align-bottom">
                                                        {{ form_start(form_delete) }}
                                                        {{ form_row(form_delete.id) }}
                                                        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                                            <div class="sm:flex sm:items-start">
                                                                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-accent-red sm:mx-0 sm:h-10 sm:w-10">
                                                                    <!-- Heroicon name: outline/exclamation -->
                                                                    <svg class="h-6 w-6 text-red-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                                                    </svg>
                                                                </div>
                                                                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                                                                    <h3 class="mt-1 text-xl font-medium text-black dark:text-gray-200" id="modal-title">
                                                                        Supprimer votre compte
                                                                    </h3>
                                                                    <div class="mt-2 font-medium text-black dark:text-gray-200">
                                                                        <p class="text-md">
                                                                            Vous allez confirmer que vous voulez supprimer votre compte chez ClickNToulon.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-4 ml-4 pb-3 sm:pb-6 sm:px-6 sm:ml-0 sm:flex sm:items-center sm:justify-center sm:flex-row-reverse">
                                                            <button type="submit" class="w-full sm:w-auto inline-flex justify-center rounded-lg border-2 border-transparent shadow-sm px-4 py-2 sm:ml-3 bg-red-700 hover:bg-red-600 focus:bg-red-800 active:bg-red-800 text-sm font-medium text-white">
                                                                Supprimer votre compte
                                                            </button>
                                                            <button type="button" onclick="dialog.close()" class="w-full sm:w-auto inline-flex justify-center rounded-lg border-2 border-slate-700 shadow-sm px-4 py-2 mt-3 sm:mt-0 sm:ml-3 hover:bg-slate-700 text-black dark:text-white text-sm font-medium">
                                                                Revenir en arrière
                                                            </button>
                                                        </div>
                                                        {{ form_end(form_delete) }}
                                                    </div>
                                                </dialog>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <script>
        const openButton = document.getElementById('openDialogButton');
        const dialog = document.getElementById('deleteDialog');
        openButton.addEventListener("click", function onOpen() {
            if (typeof dialog.showModal === "function") {
                dialog.showModal();
            } else {
                console.log("Sorry, the <dialog> API is not supported by this browser.");
            }
        })
    </script>
{% endblock %}