{% extends 'base.html.twig' %}

{% block title 'Modifier mes informations - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'user'} %}
    {% include 'user/_header.html.twig' %}
    {% include 'user/_tabs.html.twig' with {active: 'edit'} %}
    <div class="container">
        <div class="toast-container position-absolute p-3">
            {% for message in app.flashes('success') %}
                <div class="toast toast-success d-flex align-items-center bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body d-flex align-items-center">
                        <div class="toast-icon">
                            <i class="bi-check-circle" aria-hidden="true"></i>
                        </div>
                        <div class="toast-text mx-2">
                            <p class="d-flex align-items-center text-center mb-0" style="font-size: 15px">{{ message }}</p>
                        </div>
                        <div class="alert__progress"></div>
                    </div>
                </div>
                <script>
                    const toastsWarning = [].slice.call(document.querySelectorAll('.toast-success'));
                    const toastsWarningItem = toastsWarning.map(function (toast) {
                        // Creates an array of toasts (it only initializes them)
                        return new bootstrap.Toast(toast, {"delay": 5010}) // No need for options; use the default options
                    });
                    toastsWarningItem.forEach(toast => toast.show()); // This show them
                </script>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="toast toast-warning d-flex align-items-center bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body d-flex align-items-center">
                        <div class="toast-icon">
                            <i class="bi-exclamation-circle" aria-hidden="true"></i>
                        </div>
                        <div class="toast-text mx-2">
                            <p class="d-flex align-items-center text-center mb-0" style="font-size: 15px">{{ message }}</p>
                        </div>
                        <div class="alert__progress warning"></div>
                    </div>
                </div>
                <script>
                    const toastsWarning = [].slice.call(document.querySelectorAll('.toast-warning'));
                    const toastsWarningItem = toastsWarning.map(function (toast) {
                        // Creates an array of toasts (it only initializes them)
                        return new bootstrap.Toast(toast, {"delay": 5010}) // No need for options; use the default options
                    });
                    toastsWarningItem.forEach(toast => toast.show()); // This show them
                </script>
            {% endfor %}
        </div>
        {{ form_start(form_password, {attr: {class: 'user-modify'}}) }}
            <h3 class="password-update"><i class="bi-lock"></i> Mot de passe</h3>
            <div class="stack forms form-modify password-form">
                {{ form_row(form_password.password) }}
            </div>
            <div class="button-submit">
                <button type="submit" class="btn btn-form">Modifier mon mot de passe</button>
            </div>
        {{ form_end(form_password) }}
        {{ form_start(form_avatar, {attr: {class: 'user-modify'}}) }}.
            <h3 class="user-modify-title"><i class="bi-person-bounding-box"></i> Photo de profil</h3>
            <div class="forms user_upload_profile form-modify">
                <img src="{% if user.avatar %}{{ asset('uploads/users/') ~ user.avatar }}{% else %}{{ asset('images/user.png') }}{% endif %}" width="150" height="150">
                {{ form_errors(form_avatar) }}
                {{ form_widget(form_avatar) }}
            </div>
            <div class="button-submit">
                <button type="submit" class="btn btn-form profile">Changer de photo de profil</button>
            </div>
        {{ form_end(form_avatar) }}
        {{ form_start(form_profile, {attr: {class: 'user-modify'}}) }}
            <h3 class="user-modify-title"><i class="bi-person-lines-fill"></i> Mes informations</h3>
            <div class="forms form-modify">
                <i class="left">Tous les champs doivent être remplis</i>
                <div class="row first">
                    <div class="col-12 form-row">
                        {{ form_row(form_profile.username, {attr: {class: 'form-control last-input'}}) }}
                        {{ form_row(form_profile.email, {attr: {class: 'form-control last-input'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-row form-address">
                        {{ form_row(form_profile.address, {attr: {class: 'form-control'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-row">
                        {{ form_row(form_profile.postal_code, {attr: {class: 'form-control last-input'}}) }}
                        {{ form_row(form_profile.city, {attr: {class: 'form-control last-input'}}) }}
                    </div>
                </div>
            </div>
            <div class="button-submit">
                <button type="submit" class="btn btn-form">Modifier mon profil</button>
            </div>
        {{ form_end(form_profile) }}
        {{ form_start(form_delete, {attr: {class: 'user-modify last'}}) }}
        <h3 class="danger-zone"><i class="bi-trash"></i> Danger Zone</h3>
        <p class="danger-zone-txt">Vous n'&ecirc;tes pas satisfait du contenu propos&eacute; sur le site ?<br>
            Ou vous souhaitez supprimer toutes les informations associ&eacute;es à votre compte ?</p>
        <i class="danger-zone-txt">Cette fonctionnalit&eacute; va supprimer toutes les donn&eacute;es relatives &agrave; votre profil, ainsi que toutes vos commandes pass&eacute;es sur le site.</i>
        {{ form_row(form_delete.id) }}
        <div class="button-submit">
            <button type="submit" class="btn btn-form btn-danger"><i class="bi-trash"></i> Supprimer mon profil</button>
        </div>
        {{ form_end(form_delete) }}
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}