{% extends 'base.html.twig' %}

{% block title 'Mes commandes - ClickNToulon' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'user-orders'} %}
    {% include 'user/_header.html.twig' %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-12 pt-6 mx-auto">
            <div class="flex justify-center flex-wrap -m-4">
                {% include 'user/_tabs.html.twig' with {active: 'orders'} %}
            </div>
        </div>
        {% if orders is iterable and orders != null %}
            <div class="container px-5 mx-auto sm:max-w-7xl pb-12 max-w-full">
                <div class="flex flex-wrap -my-6">
                    {% for order in orders %}
                        <div class="bg-white shadow-2xl overflow-hidden rounded-xl my-2">
                            <div class="px-4 py-5 sm:px-6 flex sm:flex-row flex-col align-start justify-between">
                                <div class="grid grid-cols-3 space-x-6 pb-2 sm:pb-0">
                                    <div class="col-span-1 flex flex-col">
                                        <h3 class="font-semibold text-lg text-black">N° de commande</h3>
                                        <p class="font-semibold text-base mt-1 text-gray-700">{{ order.orderNumber }}</p>
                                    </div>
                                    <div class="col-span-1 flex flex-col">
                                        <h3 class="font-semibold text-lg text-black">Date</h3>
                                        <p class="font-semibold text-base mt-1 text-black">{{ order.day | format_date(locale='fr') }}</p>
                                    </div>
                                    <div class="col-span-1 flex flex-col">
                                        <h3 class="font-semibold text-lg text-black">Total</h3>
                                        <p class="font-semibold text-base mt-1 text-black">{{ order.total | format_currency('EUR') }}</p>
                                    </div>
                                </div>
                                <div class="grid grid-cols-1 flex items-center">
                                    <div class="col-span-1">
                                        <a href="{{ path('user_order', {number: order.orderNumber}) }}" class="w-full flex items-center justify-center px-6 py-1.5 border border-transparent text-lg font-semibold rounded-lg text-white bg-yellow-500 hover:bg-yellow-600 md:text-base md:px-6 focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600 focus:ring-offset-white">
                                            En voir plus
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if products[order.id] is iterable  %}
                                {% set i = 0 %}
                                {% for product in products[order.id] %}
                                    <div class="border-t border-gray-200 px-4 py-5 sm:px-6 space-y-6">
                                        <div class="flex sm:flex-row flex-col">
                                            <div class="w-full sm:w-1/3 pb-2 sm:pb-0">
                                                <img class="rounded" src="{{ asset('uploads/products/' ~ product.images[0]) }}" alt="">
                                            </div>
                                            <div class="flex flex-col px-4 w-full">
                                                <div class="flex flex-row justify-between mb-2">
                                                    <h1 class="font-semibold text-black text-xl">{{ product.name }} (x{{ quantities[order.id][i] }})</h1>
                                                    {% if product.unitPriceDiscount != null %}
                                                        <div class="flex flex-row space-x-2">
                                                            <h1 class="font-semibold text-black text-base line-through">
                                                                {{ product.unitPrice | format_currency('EUR') }}
                                                            </h1>
                                                            <h1 class="font-semibold text-red-500 text-base">
                                                                {% set dealPrice = product.unitPrice * (1 - (product.unitPriceDiscount/100)) %}
                                                                {{ dealPrice | format_currency('EUR') }}
                                                            </h1>
                                                        </div>
                                                    {% else %}
                                                        <h1 class="font-semibold text-black text-base">
                                                            {{ product.unitPrice | format_currency('EUR') }}
                                                        </h1>
                                                    {% endif %}
                                                    {% set i = i + 1 %}
                                                </div>
                                                <div class="h-full relative">
                                                    <p class="text-base- font-semibold text-black">
                                                        {{ product.description }}
                                                    </p>
                                                </div>
                                                <div class="w-full flex justify-end">
                                                    <a href="{{ path('product_show', {id: product.id}) }}" class="text-yellow-500 hover:text-yellow-600 font-semibold hover:underline transition-all duration-500">Voir le produit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:px-6 space-y-6">
                                    <div class="flex flex-row">
                                        <div class="w-1/3">
                                            <img class="rounded" src="{{ asset('uploads/products/' ~ products[order.id].images[0]) }}" alt="">
                                        </div>
                                        <div class="flex flex-col px-4">
                                            <div class="flex flex-row justify-between mb-2">
                                                <h1 class="font-medium text-black dark:text-white text-lg">{{ products[order.id].name }}  (x{{ order.quantity }})</h1>
                                                <h1 class="font-medium text-black dark:text-white text-base">{{ products[order.id].price | format_currency('EUR') }}</h1>
                                            </div>
                                            <div class="h-full relative">
                                                <p class="text-base text-black dark:text-white">
                                                    {{ products[order.id].description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="sm:container px-5 py-5 mx-auto flex items-center justify-center h-full">
                <h1 class="text-black dark:text-white font-medium text-4xl text-center">Aucune commande passée récemment...</h1>
            </div>
        {% endif %}
    </section>
    {% if orders != null %}
        {% include 'footer.html.twig' %}
    {% else %}
        <div class="sm:absolute sm:bottom-0 w-full">
            {% include 'footer.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
