{% extends 'base.html.twig' %}

{% block title 'Mes commandes - TouSolidaires' %}

{% block body %}
    {% include 'navbar.html.twig' with {'active': 'user'} %}
    {% include 'user/_header.html.twig' %}
    <section class="text-gray-400 body-font">
        <div class="container px-5 py-12 pt-6 mx-auto">
            <div class="flex justify-center flex-wrap -m-4">
                {% include 'user/_tabs.html.twig' with {active: 'orders'} %}
            </div>
        </div>
        <div class="container px-5 mx-auto sm:max-w-7xl pb-12 max-w-full">
            <div class="flex flex-wrap -my-6">
                {% for order in orders %}
                    <div class="bg-white dark:bg-gray-800 shadow dark:shadow-none overflow-hidden rounded-xl my-2">
                        <div class="px-4 py-5 sm:px-6 flex sm:flex-row flex-col align-start justify-between">
                            <div class="grid grid-cols-3 space-x-6 pb-2 sm:pb-0">
                                <div class="col-span-1 flex flex-col">
                                    <h3 class="font-medium text-sm text-black dark:text-white">N° de commande</h3>
                                    <p class="font-medium text-sm mt-1 text-gray-700 dark:text-gray-200">{# {{ order.id }}#} {{ order.number }}</p>
                                </div>
                                <div class="col-span-1 flex flex-col">
                                    <h3 class="font-medium text-sm text-black dark:text-white">Date</h3>
                                    <p class="font-medium text-sm mt-1 text-gray-700 dark:text-gray-200">{{ order.day | format_date(locale='fr') }}</p>
                                </div>
                                <div class="col-span-1 flex flex-col">
                                    <h3 class="font-medium text-sm text-black dark:text-white">Total</h3>
                                    <p class="font-bold text-sm mt-1 text-gray-700 dark:text-gray-100">{{ order.total | format_currency('EUR') }}</p>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 flex items-center">
                                <div class="col-span-1">
                                    <a href="{{ path('user_order', {number: order.number}) }}" class="w-full flex items-center justify-center px-6 py-1.5 border border-transparent text-base font-medium rounded-lg text-white bg-gray-600 hover:bg-gray-700 md:text-base md:px-6 focus:ring-2 focus:ring-offset-2 focus:ring-gray-600 focus:ring-offset-white dark:focus:ring-offset-gray-800">
                                        En voir plus
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% if products[order.id] is iterable  %}
                            {% set i = 0 %}
                            {% set quantity = order.quantity | split(',') %}
                            {% for product in products[order.id] %}
                                <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:px-6 space-y-6">
                                    <div class="flex sm:flex-row flex-col">
                                        <div class="w-full sm:w-1/3 pb-2 sm:pb-0">
                                            <img class="rounded" src="{{ asset('uploads/products/' ~ product.images[0]) }}" alt="">
                                        </div>
                                        <div class="flex flex-col px-4">
                                            <div class="flex flex-row justify-between mb-2">
                                                <h1 class="font-medium text-black dark:text-white text-lg">{{ product.name }} (x{{ quantity[i] }})</h1>
                                                <h1 class="font-medium text-black dark:text-white text-base">{{ product.price | format_currency('EUR') }}</h1>
                                                {% set i = i + 1 %}
                                            </div>
                                            <div class="h-full relative">
                                                <p class="text-base text-black dark:text-white">
                                                    {{ product.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:px-6 space-y-6">
                                <div class="flex flex-row">
                                    <div class="w-1/3">
                                        <img class="rounded" src="{{ asset('uploads/products/' ~ products[order.id].images[0]) }}" alt="">
                                    </div>
                                    <div class="flex flex-col px-4">
                                        <div class="flex flex-row justify-between mb-2">
                                            <h1 class="font-medium text-black dark:text-white text-lg">{{ products[order.id].name }}  (x{{ order.quantity }})</h1>
                                            <h1 class="font-medium text-black dark:text-white text-base">{{ products[order.id].price | format_currency('EUR') }}</h1>
                                        </div>
                                        <div class="h-full relative">
                                            <p class="text-base text-black dark:text-white">
                                                {{ products[order.id].description }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </section>
    {# <div class="col-12 col-md-9">
                    {% if orders is not null %}
                        {% for order in orders %}
                            {% for shop in shops %}
                                {% if shop.id == order.shopid %}
                                    <div class="fr-card fr-enlarge-link fr-card--orders mb-5">
                                        <div class="fr-card__body">
                                            <h4 class="fr-card__title">
                                                <a href="{{ path('user_order', {id: order.id}) }}"
                                                   class="fr-card__link">Commande n°{{ order.id }}</a>
                                            </h4>
                                            <div class="fr-card__desc order-desc">
                                                <div class="order-info">
                                                    <h4 class="order-shop-title">{{ shop.name }}</h4>
                                                    <p class="card-text order-address mb-1"><i class="bi-geo"></i>
                                                        Adresse
                                                        : {{ shop.address }} {{ shop.postalcode }} {{ shop.city }}</p>
                                                    {% set splitArray = shop.phone|split('', 1) %}
                                                    {% set first = splitArray|first %}
                                                    {% set firstArray =  [0, first] | join('') %}
                                                    {% set splitArray = splitArray|slice(1) %}
                                                    {% set splitArray = splitArray|join('') %}
                                                    {% set lastArray = [firstArray, splitArray] |join('') %}
                                                    {% set finalSplit = lastArray|split('', 2) %}
                                                    {% set formattedString = finalSplit|join(' ') %}
                                                    <p class="card-text mb-3"><i class="bi-telephone"></i> Téléphone
                                                        : {{ formattedString }}</p>
                                                </div>
                                                {% if order.timebegin != null and order.timeend != null %}
                                                    <p class="card-text mb-0"><i class="bi-calendar3"></i> Date de
                                                        retrait : {{ order.day | format_date(locale="fr") }}</p>
                                                    <p class="card-text"><i class="bi-clock"></i> Horaire de retrait :
                                                        {{ order.timeBegin | format_time('short',pattern="HH'h'mm", locale='fr') }}
                                                        - {{ order.timeEnd | format_time('short',pattern="HH'h'mm", locale='fr') }}
                                                    </p>
                                                {% elseif order.status == 0 %}
                                                    <p class="card-text">La date et le créneau de retrait vous seront
                                                        communiqués une fois la commande validée par le commerçant.</p>
                                                {% else %}
                                                    <p class="card-text">La date et le créneau de retrait vous ont été
                                                        communiqués par un autre moyen par le commerçant.</p>
                                                {% endif %}
                                            </div>
                                            <li class="list-group-item border-0 p-0 m-0 orders-total">
                                                <span class="text-black">Total (Euro) :</span>
                                                <strong class="font-weight-bolder">{{ order.total | number_format(2,',',' ') }}
                                                    €</strong>
                                            </li>
                                            <ul class="list-unstyled multi-steps mb-2">
                                                <li class="{% if order.status != 5 %}is-active orders-active{% else %}orders-active-end{% endif %}">
                                                    {% if order.status == 0 %}
                                                        Commande en attente de validation par le commerçant
                                                    {% elseif order.status == 1 %}
                                                        Commande en cours de préparation
                                                    {% elseif order.status == 2 %}
                                                        Commande prête
                                                    {% elseif order.status == 3 or order.status == 4 %}
                                                        Commande récupérée
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <h4>Pas de commandes récentes</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </main> #}
    {% include 'footer.html.twig' %}
{% endblock %}
